:root {
  --sponge: #fdf84c;
  --sponge-stroke: #9aaa36;
  --sponge-shadow: #b3b91b;
  --eye: #93f9ff;
  --cheek-stroke: #ed4b2d;
  --chin: #f1481c;
  --tie: #f30314;
  --pants: #c36501;
  --sock-one: #2f391e;
  --sock-two: #557b9f;
  --sock-three: #a84737;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spongebob {
  position: relative;
  width: 40%;
}

.eye {
  position: absolute;
  width: 13rem;
  height: 13.7rem;
  border-radius: 50%;
  border: 0.35rem solid var(--black);
  background-color: var(--white);
}

.eye::before {
  content: "";
  position: absolute;
  width: 11.5rem;
  height: 11rem;
  border-radius: 50%;
  box-shadow: 0.5rem 0.5rem 0.3rem 0.2rem var(--sponge-shadow);
  z-index: -1;
  transform: rotate(45deg);
  top: 2rem;
  left: 0.2rem;
}

.eyes {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.eye-left {
  border-radius: 50% 50% 50% 50%/50% 45% 37% 50%;
  left: 35%;
}

.eye-right {
  border-radius: 50% 50% 50% 50%/45% 50% 50% 37%;
  left: calc(35% + 12.7rem);
}

.inner-eye {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0.3rem solid var(--black);
  top: 3.7rem;
  background-color: var(--eye);
  box-shadow: inset 0rem 0.7em 0.3rem 0.3rem rgb(0, 0, 0, 0.2);
}

.inner-eye-left {
  left: 3.6rem;
}

.inner-eye-right {
  left: 2.7rem;
}

.pupil {
  position: absolute;
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 50%;
  background-color: var(--black);
  left: 1.2rem;
  top: 1.2rem;
}

.pupil::before {
  content: "";
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: var(--white);
  top: -0.3rem;
  left: 0.2rem;
  filter: blur(0.1rem);
}

.pupil::after {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7em;
  border-radius: 50%;
  background-color: var(--white);
  top: 2.4rem;
  left: 1.9rem;
  filter: blur(0.08rem);
}

.nose {
  position: absolute;
  width: 4.7rem;
  height: 5.5rem;
  border-radius: 108% 85% 176% 0/100% 73% 125% 0;
  background-color: var(--black);
  top: 1.2rem;
  left: 10.8rem;
  transform: rotate(-23deg);
}

.nose::after {
  content: "";
  position: absolute;
  width: 3.8rem;
  height: 5.6rem;
  border-radius: 111% 97% 211% 0/93% 60% 147% 0;
  background-color: var(--sponge);
  top: 0.3rem;
  left: 0.25rem;
  transform: rotate(12deg);
  box-shadow: inset -2.5rem -2.5rem 1.5rem -3.5rem var(--sponge),
    inset -1.5rem -3.5rem 0.9rem -1.5rem var(--sponge-shadow);
}

.cheek {
  position: absolute;
  width: 7.7rem;
  height: 5.7rem;
  border-radius: 50%;
  background-color: var(--cheek-stroke);
}

.cheek-left {
  left: -2.1rem;
  top: 2rem;
  transform: rotate(-5deg);
}

.cheek-right {
  left: 20.5rem;
  top: 2rem;
  transform: rotate(5deg);
}

.cheek::before {
  content: "";
  position: absolute;
  width: 6.7rem;
  height: 5.45rem;
  border-radius: 50%;
  background-color: var(--sponge);
  top: 0.5rem;
  left: 0.45rem;
  box-shadow: inset 0rem 0rem 1rem 1rem var(--sponge),
    inset 0rem 0rem 4rem 0.1rem var(--cheek-stroke);
}

.dot {
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  background-color: var(--cheek-stroke);
  border-radius: 50%;
}

.dot-left-one {
  top: 1.5rem;
  left: 2rem;
}

.dot-left-two {
  top: 2.5rem;
  left: 3.4rem;
}

.dot-left-three {
  top: 2rem;
  left: 4.5rem;
}

.dot-right-one {
  top: 1.5rem;
  left: 2rem;
}

.dot-right-two {
  top: 1.6rem;
  left: 4.5rem;
}

.dot-right-three {
  top: 2.5rem;
  left: 3.3rem;
}

.eyelash {
  position: absolute;
  width: 0.8rem;
  height: 5rem;
  background-color: var(--black);
  z-index: -1;
}

.eyelash-one {
  top: -2.5rem;
  left: 2.5rem;
  transform: rotate(-16deg);
}

.eyelash-two {
  top: -3rem;
  left: 5.5rem;
  transform: rotate(-1deg);
}

.eyelash-three {
  top: -2.5rem;
  left: 8.4rem;
  transform: rotate(13deg);
}

.mouth {
  position: absolute;
  width: 22.5rem;
  height: 11rem;
  border-radius: 0 0 50% 50%/0 0 75% 75%;
  background-color: var(--black);
  top: 2.5rem;
  left: 1.85rem;
  z-index: -1;
}

.mouth::before {
  content: "";
  position: absolute;
  width: 22.2rem;
  height: 11.2rem;
  border-radius: 0 0 50% 50%/0 0 75% 75%;
  background-color: var(--sponge);
  top: -0.5rem;
  left: 0.15rem;
}

.mouth-part-two-left,
.mouth-part-two-right {
  position: absolute;
  width: 2rem;
  height: 3rem;
  border: 0.3rem solid var(--black);
}

.mouth-part-two-left::after,
.mouth-part-two-right::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 3rem;
  border-radius: 50% 50% 0 0/30% 30% 0 0;
  border: 0.3rem solid var(--black);
  border-color: var(--black) transparent transparent transparent;
}

.mouth-part-two-left::after {
  top: -0.1rem;
  left: -1.5rem;
  transform: rotate(9deg);
}

.mouth-part-two-right::after {
  top: -0.1rem;
  left: -0.1rem;
  transform: rotate(9deg);
}

.mouth-part-two-left {
  top: 5.5rem;
  left: 2.15rem;
  transform: rotate(-22deg);
  border-color: transparent transparent transparent var(--black);
  border-radius: 31% 0 0 21%/57% 0 0 46%;
}

.mouth-part-two-right {
  top: 5.5rem;
  left: 22.05rem;
  transform: rotate(22deg);
  border-color: transparent var(--black) transparent transparent;
  border-radius: 0 31% 21% 0/0 57% 46% 0;
}

.tooth-left,
.tooth-right {
  position: absolute;
  width: 3rem;
  height: 4.3rem;
  border: 0.35rem solid var(--black);
  top: 12rem;
  z-index: -2;
}

.tooth-left {
  left: 9.8rem;
}

.tooth-right {
  left: 13.3rem;
}
