:root {
  --sponge: #fdf84c;
  --sponge-stroke: #9aaa36;
  --eye: #93f9ff;
  --cheek-stroke: #ed4b2d;
  --chin: #f1481c;
  --tie: #f30314;
  --pants: #c36501;
  --sock-one: #2f391e;
  --sock-two: #557b9f;
  --sock-three: #a84737;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spongebob {
  position: relative;
  width: 40%;
}

.eye {
  position: absolute;
  width: 13rem;
  height: 13.7rem;
  border-radius: 50%;
  border: 0.35rem solid var(--black);
}

.eyes {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.eye-left {
  border-radius: 50% 50% 50% 50%/50% 45% 37% 50%;
  left: 35%;
}

.eye-right {
  border-radius: 50% 50% 50% 50%/45% 50% 50% 37%;
  left: calc(35% + 12.7rem);
}

.inner-eye {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0.3rem solid var(--black);
  top: 3.7rem;
  background-color: var(--eye);
  box-shadow: inset 0rem 0.7em 0.3rem 0.3rem rgb(0, 0, 0, 0.2);
}

.inner-eye-left {
  left: 3.6rem;
}

.inner-eye-right {
  left: 2.7rem;
}

.pupil {
  position: absolute;
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 50%;
  background-color: var(--black);
  left: 1.2rem;
  top: 1.2rem;
}

.pupil::before {
  content: "";
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: var(--white);
  top: -0.3rem;
  left: 0.2rem;
  filter: blur(0.1rem);
}

.pupil::after {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7em;
  border-radius: 50%;
  background-color: var(--white);
  top: 2.4rem;
  left: 1.9rem;
  filter: blur(0.08rem);
}

.nose {
  position: absolute;
  width: 5.5rem;
  height: 6rem;
  border: 0.4rem solid;
  border-color: var(--black) transparent transparent transparent;
  border-radius: 50% 50% 0 0/50% 50% 0 0;
  top: 2rem;
  left: 10rem;
  background-color: var(--sponge);
}
