:root {
  --sponge: #fdf84c;
  --sponge-stroke: #9aaa36;
  --eye: #36ccda;
  --cheek-stroke: #ed4b2d;
  --chin: #f1481c;
  --tie: #f30314;
  --pants: #c36501;
  --sock-one: #2f391e;
  --sock-two: #557b9f;
  --sock-three: #a84737;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spongebob {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eye {
  position: absolute;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  border: 0.35rem solid var(--black);
}

.eyes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.eye-left {
  border-radius: 50% 50% 50% 50%/50% 45% 37% 50%;
  left: 35%;
}

.eye-right {
  border-radius: 50% 50% 50% 50%/45% 50% 50% 37%;
  left: calc(35% + 12.7rem);
}
