:root {
  --sponge: #fdf84c;
  --sponge-stroke: #9aaa36;
  --eye: #36ccda;
  --cheek-stroke: #ed4b2d;
  --chin: #f1481c;
  --tie: #f30314;
  --pants: #c36501;
  --sock-one: #2f391e;
  --sock-two: #557b9f;
  --sock-three: #a84737;
  --white: #ffffff;
  --black: #000000;
}
