:root {
  --balloon: #cb1d4d;
  --thread: #c1c4bd;
  --white: #ffffff;
  --black: #000000;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balloon {
  position: relative;
}
