:root {
  --hair: #ff4701;
  --glasses: #6fc8d8;
  --gloves: #650e90;
  --skin: #ffefe8;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dexter {
  position: relative;
  width: 500px;
}

.glasses {
  position: absolute;
  width: 245px;
  height: 140px;
  background-color: var(--black);
  border-radius: 0 0 50% 70%/0 0 110% 120%;
}

.glasses::before {
  content: "";
  position: absolute;
  width: 209px;
  height: 109px;
  background-color: var(--glasses);
  border-radius: 0 0 50% 70%/0 0 110% 120%;
  left: 19px;
  top: 17px;
}

.glasses::after {
  content: "";
  position: absolute;
  width: 93px;
  height: 40px;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  background-color: var(--black);
  left: 100px;
  top: 10px;
}

.glass-left {
  top: 1px;
  left: 10px;
}

.glass-right {
  transform: scaleX(0.97);
  left: 242px;
  top: 1px;
}

.nose-part-one {
  position: absolute;
  width: 135px;
  border: 6px solid;
  border-color: var(--black) transparent transparent transparent;
  top: 79px;
  left: 228px;
}

.nose-part-one::after {
  content: "";
  position: absolute;
  height: 80px;
  border: 6px solid;
  border-color: transparent var(--black) transparent transparent;
  top: -21px;
  left: 90px;
  transform: rotate(39deg);
}

.nose-hide {
  position: absolute;
  height: 100px;
  border-top: 42px solid var(--skin);
  border-left: 66px solid transparent;
  border-right: 35px solid transparent;
  top: 85px;
  left: 250px;
}

.nose-part-two {
  position: absolute;
  width: 110px;
  border: 6px solid;
  border-color: transparent transparent var(--black) transparent;
  top: 157px;
  left: 221px;
  transform: rotate(33deg);
}

.nose-part-two::after {
  content: "";
  position: absolute;
  height: 47px;
  border: 6px solid;
  border-color: transparent var(--black) transparent transparent;
  top: -41px;
  left: 75px;
  transform: rotate(-42deg);
}

.face-part-one {
  position: absolute;
  width: 460px;
  height: 270px;
  border: 6px solid;
  border-color: transparent var(--black) transparent var(--black);
  z-index: -2;
  background-color: var(--skin);
  top: -120px;
  left: -42px;
}

.face-part-one::after {
  content: "";
  position: absolute;
  width: 205px;
  height: 306px;
  border-radius: 0 75% 50% 0/0 48% 60% 0;
  background-color: var(--skin);
  top: 107px;
  left: 226px;
  border: 6px solid;
  border-color: transparent var(--black) transparent transparent;
  transform: rotate(41deg);
}

.face-part-two {
  position: absolute;
  width: 266px;
  height: 350px;
  top: -77px;
  left: 38px;
  border: 6px solid;
  border-color: transparent transparent transparent var(--black);
  transform: rotate(-66deg);
  z-index: -1;
}

.face-part-two::after {
  content: "";
  position: absolute;
  background-color: var(--skin);
  width: 80px;
  height: 200px;
}

.glasses-temple {
  position: absolute;
  width: 31px;
  border-bottom: 68px solid var(--black);
  border-top: 6px solid transparent;
  border-right: 17px solid transparent;
  top: -3px;
  left: -26px;
  transform: rotate(-106deg);
}

.ear {
  position: absolute;
  width: 70px;
  height: 80px;
  top: 48px;
  left: -95px;
  border: 6px solid;
  border-color: var(--black) transparent var(--black) var(--black);
  border-radius: 48% 57% 39% 65%/48% 56% 36% 68%;
  background-color: var(--skin);
}

.body {
  position: absolute;
  width: 395px;
  height: 215px;
  border: 6px solid var(--black);
  background-color: var(--white);
  top: 121px;
  left: -42px;
  z-index: -3;
}

.body::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 133px;
  top: 76px;
  left: 157px;
  background-color: var(--black);
}

.body::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--black);
  left: 174px;
  top: 114px;
}

.body-hide {
  position: absolute;
  width: 116px;
  height: 30px;
  background-color: var(--white);
  top: 268px;
  left: 164px;
  transform: rotate(24deg);
}

.body-hide::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 8px;
  background-color: var(--white);
  top: 0px;
  left: -23px;
  transform: rotate(0deg);
}

.hand {
  position: absolute;
  width: 4px;
  height: 62px;
  background-color: var(--black);
  top: 193px;
  left: 30px;
}

.hand::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 52px;
  background-color: var(--black);
  top: 10px;
  left: 27px;
}

.glove {
  position: absolute;
  border-top: 50px solid var(--black);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  top: 249px;
  left: -3px;
  transform: rotate(-7deg);
}

.glove::after {
  content: "";
  position: absolute;
  border-top: 41px solid var(--gloves);
  border-left: 41px solid transparent;
  border-right: 41px solid transparent;
  top: -46px;
  left: -41px;
}

.finger-one {
  position: absolute;
  width: 35px;
  height: 68px;
  border-radius: 48%;
  border: 4px solid;
  border-color: transparent var(--black) var(--black) var(--black);
  background-color: var(--gloves);
  top: 264px;
  left: -10px;
  transform: rotate(48deg);
}

.finger-two {
  position: absolute;
  width: 36px;
  height: 66px;
  border-radius: 46%;
  border: 4px solid;
  border-color: transparent var(--black) var(--black) var(--black);
  background-color: var(--gloves);
  top: 285px;
  left: 21px;
  transform: rotate(5deg);
}

.finger-three {
  position: absolute;
  width: 33px;
  height: 78px;
  border-radius: 46%;
  border: 4px solid;
  border-color: transparent var(--black) var(--black) var(--black);
  background-color: var(--gloves);
  top: 257px;
  left: 56px;
  transform: rotate(-38deg);
}

.finger-three::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 54px;
  background-color: var(--gloves);
  top: -19.5px;
  left: -12px;
  transform: rotate(71deg);
}

.feet-left {
  position: absolute;
  border-top: 92px solid transparent;
  border-left: 90px solid transparent;
  border-bottom: 114px solid var(--black);
  width: 169px;
  top: 242px;
  left: -11px;
  z-index: -4;
  transform: rotate(-19deg);
}

.feet-left::after {
  content: "";
  position: absolute;
  border-top: 42px solid transparent;
  border-left: 40px solid transparent;
  border-bottom: 50px solid var(--black);
  width: 70px;
  top: 36px;
  left: -31px;
  transform: rotate(-10deg);
}

.feet-right {
  position: absolute;
  border-top: 89px solid transparent;
  border-right: 101px solid transparent;
  border-bottom: 116px solid var(--black);
  width: 244px;
  top: 240px;
  left: 161px;
  z-index: -4;
  transform: rotate(16deg);
}

.feet-right::after {
  content: "";
  position: absolute;
  border-top: 42px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 50px solid var(--black);
  width: 130px;
  top: 33px;
  left: 1px;
  transform: rotate(12deg);
}

.hair-part-one {
  position: absolute;
  width: 350px;
  height: 80px;
  background-color: var(--hair);
  border: 6px solid;
  border-color: var(--black) transparent transparent transparent;
  border-radius: 55% 42% 40% 30%/59% 42% 30% 30%;
  top: -170px;
  left: 31px;
  transform: rotate(-5deg);
}

.hair-part-one::before {
  content: "";
  position: absolute;
  width: 117px;
  height: 8px;
  border: 6px solid;
  border-color: var(--black) transparent transparent transparent;
  border-radius: 58% 53% 0% 0%/82% 48% 0% 0%;
  left: -90px;
  top: 29px;
  transform: rotate(-19deg);
}

.hair-part-two {
  position: absolute;
  width: 248px;
  height: 127px;
  background-color: var(--hair);
  border: 6px solid;
  border-color: var(--black) var(--black) var(--black) transparent;
  border-radius: 50%;
  top: -161px;
  left: 261px;
  transform: rotate(19deg);
  z-index: 2;
}

.hair-part-two::before {
  content: "";
  position: absolute;
  width: 52px;
  height: 17px;
  background-color: var(--hair);
  border-radius: 50%;
  top: 11px;
  left: 13px;
  transform: rotate(-15deg);
}

.hair-part-two::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 100px;
  border: 6px solid;
  border-color: var(--black) var(--black) var(--black) transparent;
  border-radius: 50%;
  top: 44px;
  left: 54px;
  transform: rotate(-76deg);
}

.hair-part-three {
  position: absolute;
  width: 70px;
  height: 245px;
  border-radius: 50%;
  border: 6px solid;
  border-color: transparent transparent var(--black) var(--black);
  background-color: var(--hair);
  left: 215px;
  top: -198px;
  z-index: 1;
  transform: rotate(-77deg);
}

.hair-part-three::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 85px;
  border-radius: 76% 71% 63% 50%/75% 50% 100% 50%;
  border: 6px solid;
  border-color: var(--black) var(--black) transparent transparent;
  left: -19px;
  top: 4px;
  transform: rotate(28deg);
}

.hair-part-four {
  position: absolute;
  width: 294px;
  height: 57px;
  border-radius: 0 0 50% 62%/0 0 52% 78%;
  background-color: var(--hair);
  border: 6px solid;
  border-color: transparent transparent var(--black) transparent;
  top: -105px;
  left: -58px;
  z-index: -1;
  transform: rotate(7deg);
}

.hair-part-five {
  position: absolute;
  width: 36px;
  height: 80px;
  border-radius: 50%;
  border: 6px solid;
  border-color: transparent var(--black) transparent transparent;
  top: -142px;
  left: -83px;
  transform: rotate(-41deg);
}

.hair-part-five::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 76px;
  border-radius: 50%;
  border: 6px solid;
  border-color: transparent var(--black) transparent transparent;
  top: 4px;
  left: -31px;
  transform: rotate(-41deg);
}

.hide-hair {
  position: absolute;
  width: 121px;
  height: 51px;
  background-color: white;
  top: -142px;
  left: -70px;
  z-index: -1;
}

.hide-hair::after {
  content: "";
  position: absolute;
  width: 138px;
  height: 33px;
  background-color: var(--hair);
  border-radius: 47%;
  top: 18px;
  left: 38px;
  transform: rotate(-16deg);
}
