:root {
  --hair: #ff4701;
  --glasses: #6fc8d8;
  --gloves: #650e90;
  --skin: #ffefe8;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dexter {
  position: relative;
  width: 500px;
}

.glasses {
  position: absolute;
  width: 245px;
  height: 140px;
  background-color: var(--black);
  border-radius: 0 0 50% 70%/0 0 110% 120%;
}

.glasses::before {
  content: "";
  position: absolute;
  width: 209px;
  height: 109px;
  background-color: var(--glasses);
  border-radius: 0 0 50% 70%/0 0 110% 120%;
  left: 19px;
  top: 17px;
}

.glasses::after {
  content: "";
  position: absolute;
  width: 93px;
  height: 40px;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  background-color: var(--black);
  left: 100px;
  top: 10px;
}

.glass-left {
  top: 1px;
  left: 10px;
}

.glass-right {
  transform: scaleX(0.97);
  left: 242px;
  top: 1px;
}

.nose-part-one {
  position: absolute;
  width: 135px;
  border: 6px solid;
  border-color: var(--black) transparent transparent transparent;
  top: 79px;
  left: 228px;
}

.nose-part-one::after {
  content: "";
  position: absolute;
  height: 80px;
  border: 6px solid;
  border-color: transparent var(--black) transparent transparent;
  top: -21px;
  left: 90px;
  transform: rotate(39deg);
}

.nose-part-two {
  position: absolute;
  width: 110px;
  border: 6px solid;
  border-color: transparent transparent var(--black) transparent;
  top: 157px;
  left: 221px;
  transform: rotate(33deg);
}

.nose-part-two::after {
  content: "";
  position: absolute;
  height: 47px;
  border: 6px solid;
  border-color: transparent var(--black) transparent transparent;
  top: -41px;
  left: 75px;
  transform: rotate(-42deg);
}
