:root {
  --bg: #f3f3f3;
  --frame: #554f58;
  --hair: #ea7406;
  --skin: #fcf6e6;
  --mark: #a53d1c;
  --eye: #f2ebe3;
  --eye-inner-one: #f5dfbf;
  --eye-inner-two: #3e1d07;
  --eye-inner-three: #d6761d;
  --eye-inner-stroke: #6c390c;
  --eye-outer-stroke: #1f1a1f;
  --nose-one: #eae4d2;
  --nose-two: #b73002;
  --mouth-inner: #643222;
  --lip: #b62e04;
  --tooth: #f9f3e4;
  --ear-inner: #ece3d2;
  --collar-one: #dec7a4;
  --collar-two: #ece9df;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.frame {
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: var(--frame);
}

.head {
  position: absolute;
  width: 7rem;
  height: 10rem;
  border-radius: 10% 10% 55% 55%/10% 10% 100% 100%;
  background-color: var(--skin);
  top: 7rem;
  left: 6rem;
}

.head::before {
  content: "";
  position: absolute;
  width: 7rem;
  height: 5rem;
  background-color: var(--skin);
  border-radius: 0 0 50% 50%/0 0 50% 50%;
  top: -2rem;
}

.head::after {
  content: "";
  position: absolute;
  width: 7rem;
  height: 5rem;
  border-radius: 50% 50%;
  background-color: var(--skin);
  top: -7rem;
}

.eye-left,
.eye-right {
  /* position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--eye-outer-stroke); */
}
