body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: rgb(100, 194, 237);
}

:root {
  --body: #d7202d;
  --mark: #a81725;
  --beak: #fcba1e;
  --chest: #e9caae;
  --white: #ffffff;
  --black: #000000;
}

.angry-bird-red {
  position: relative;
  width: 60vw;
  top: 20vh;
  display: flex;
  justify-content: center;
}

.head {
  position: absolute;
  width: 420px;
  height: 390px;
  border-radius: 100% 100% 100% 100%/100% 110% 80% 100%;
  background-color: var(--body);
  border: 8px solid var(--black);
}

.eyebrow {
  position: absolute;
  width: 27px;
  border-top: 130px solid var(--black);
  border-bottom: 1px solid transparent;
  border-left: 14px solid transparent;
  z-index: 1;
}

.eyebrow-left {
  top: 87px;
  left: 201px;
  transform: scaleX(-1) rotate(80deg);
}

.eyebrow-right {
  top: 87px;
  left: 324px;
  transform: rotate(80deg);
}

.eye {
  position: absolute;
  width: 97px;
  height: 85px;
  border-radius: 100% 0 40% 100%/100% 100% 64% 100%;
  background-color: var(--white);
  border: 6px solid var(--black);
}

.eye-left {
  top: 167px;
  left: 178px;
}

.eye-right {
  top: 162px;
  left: 285px;
  transform: rotate(-5deg) scaleX(-1);
}

.eye::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: var(--black);
  border-radius: 50%;
  left: 50px;
  top: 15px;
}
