body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: rgb(100, 194, 237);
}

:root {
  --body: #d7202d;
  --mark: #a81725;
  --beak: #fcba1e;
  --chest: #e9caae;
  --white: #ffffff;
  --black: #000000;
}

.angry-bird-red {
  position: relative;
  width: 60vw;
  top: 20vh;
  display: flex;
  justify-content: center;
}

.head {
  position: absolute;
  width: 420px;
  height: 405px;
  border-radius: 100% 100% 100% 100%/100% 110% 80% 100%;
  background-color: var(--body);
  border: 8px solid var(--black);
}

.eyebrow {
  position: absolute;
  width: 27px;
  border-top: 130px solid var(--black);
  border-bottom: 1px solid transparent;
  border-left: 14px solid transparent;
  z-index: 1;
}

.eyebrow-left {
  top: 87px;
  left: 201px;
  transform: scaleX(-1) rotate(80deg);
}

.eyebrow-right {
  top: 87px;
  left: 324px;
  transform: rotate(80deg);
}

.eye {
  position: absolute;
  width: 97px;
  height: 85px;
  border-radius: 65% 0 40% 100%/100% 100% 64% 100%;
  background-color: var(--white);
  border: 6px solid var(--black);
}

.eye-left {
  top: 163px;
  left: 178px;
}

.eye-right {
  top: 158px;
  left: 285px;
  transform: rotate(-5deg) scaleX(-1);
}

.eye::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: var(--black);
  border-radius: 50%;
  left: 50px;
  top: 17px;
}

.beak-left {
  position: absolute;
  height: 117px;
  width: 125px;
  border: 6px solid;
  border-color: transparent transparent transparent var(--black);
  top: 230px;
  left: 226px;
  border-radius: 35% 45% 13% 20%/75% 100% 100% 75%;
  transform: rotate(44deg);
  z-index: 3;
}

.beak-right {
  position: absolute;
  height: 135px;
  width: 125px;
  border: 6px solid;
  border-color: transparent var(--black) transparent transparent;
  top: 223px;
  left: 227px;
  border-radius: 35% 45% 13% 20%/75% 100% 100% 75%;
  transform: rotate(-50deg);
  z-index: 3;
}

.beak-bottom {
  position: absolute;
  height: 135px;
  width: 187px;
  border: 6px solid;
  border-color: transparent transparent var(--black) transparent;
  top: 155px;
  left: 198px;
  border-radius: 20%;
  z-index: 3;
}

.beak-left:after {
  content: "";
  position: absolute;
  height: 82px;
  border: 6px solid;
  border-color: transparent transparent transparent var(--black);
  top: 61px;
  left: 47px;
  transform: rotate(-91deg);
  border-radius: 40%;
}

.beak-right:after {
  content: "";
  position: absolute;
  height: 90px;
  border: 6px solid;
  border-color: transparent var(--black) transparent transparent;
  top: 54px;
  left: 49px;
  transform: rotate(105deg);
  border-radius: 40%;
}

.head:before {
  content: "";
  position: absolute;
  width: 281px;
  height: 88px;
  background-color: var(--chest);
  top: 270.5px;
  left: 74px;
  z-index: 1;
  border-radius: 50% 50% 0% 0%/100% 100% 0% 0%;
  transform: rotate(1deg);
}

.head:after {
  content: "";
  position: absolute;
  width: 268px;
  height: 69px;
  background-color: var(--chest);
  top: 337px;
  left: 81px;
  z-index: 1;
  border-radius: 0% 0% 50% 50%/0% 0% 100% 100%;
}

.hide-chest-lines {
  position: absolute;
  width: 11px;
  height: 65px;
  border-radius: 35%;
  background-color: var(--chest);
  top: 337.5px;
  left: 97px;
  z-index: 2;
  transform: rotate(-60deg);
}

.hide-chest-lines:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 65px;
  border-radius: 35%;
  background-color: var(--chest);
  top: 193.5px;
  left: 108px;
  z-index: 2;
  transform: scaleX(-1) rotate(56deg);
}

.beak-background-one {
  position: absolute;
  width: 96px;
  height: 98px;
  background-color: var(--beak);
  top: 238px;
  left: 234px;
  z-index: 2;
  transform: rotate(44deg);
}

.beak-background-one:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 19px;
  background-color: var(--beak);
  top: -20px;
  left: 104px;
  z-index: 2;
  transform: rotate(9deg);
}

.beak-background-one:after {
  content: "";
  position: absolute;
  width: 106px;
  height: 118px;
  background-color: var(--beak);
  top: -22px;
  left: 4px;
  z-index: 2;
  transform: rotate(-95deg);
  border-radius: 0% 21% 0% 99%/31%;
}
