:root {
  --bg: #daf7db;
  --skin: #fbdcc7;
  --green: #3cb92b;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
}

.buttercup {
  position: relative;
  width: 50%;
  height: 50%;
}

.eye-left {
  position: absolute;
  width: 289px;
  height: 287px;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--black);
  z-index: -1;
}

.eye-inner-left {
  position: absolute;
  background-color: var(--green);
  width: 260px;
  height: 265px;
  border-radius: 50%;
  transform: rotate(20deg);
  left: 14px;
  top: 9px;
}

.eye-inner-left::before {
  content: "";
  position: absolute;
  background-color: var(--black);
  width: 207px;
  height: 220px;
  border-radius: 50%;
  top: 16px;
  left: 25px;
}

.eye-inner-left::after {
  content: "";
  position: absolute;
  width: 83px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--white);
  top: 40px;
  left: 80px;
}

.eyebrow-left {
  position: absolute;
  width: 258px;
  height: 5px;
  border: 10px solid;
  border-color: transparent transparent var(--black) transparent;
  background-color: var(--skin);
  z-index: 1;
  top: 41px;
  left: 87px;
  transform: rotate(28deg);
}

.eyebrow-left::after {
  content: "";
  position: absolute;
  height: 39px;
  width: 10px;
  border-radius: 0% 130% 0% 0/0% 120% 0% 0;
  left: 239px;
  top: -29px;
  background-color: var(--black);
}

.eyebrow-left::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 24px;
  background-color: var(--skin);
  top: -31px;
  left: 26px;
}

.head {
  position: absolute;
  width: 580px;
  height: 435px;
  border-radius: 50%;
  border: 11px solid var(--black);
  background-color: var(--skin);
  z-index: -1;
  top: -48px;
  left: -10px;
  transform: rotate(10deg);
}
