:root {
  --bg: #daf7db;
  --skin: #fbdcc7;
  --green: #3cb92b;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
}

.buttercup {
  position: relative;
  width: 50%;
  height: 50%;
}

/* .eye {
  position: absolute;
  width: 150px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--black);
} */

.eye-inner-left::before {
  content: "";
  position: absolute;
  background-color: var(--black);
  width: 210px;
  height: 200px;
  border-radius: 50%;
  /* transform: rotate(18deg); */
}

.eye-inner-left {
  position: absolute;
  background-color: var(--green);
  width: 230px;
  height: 230px;
  border-radius: 50%;
  z-index: -1;
  left: -10px;
  top: -10px;
  transform: rotate(18deg);
}
