:root {
  --bg: #daf7db;
  --skin: #fbdcc7;
  --green: #3cb92b;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
}

.buttercup {
  position: relative;
  width: 50%;
  height: 50%;
}

.eye-left {
  position: absolute;
  width: 290px;
  height: 285px;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--black);
  z-index: -1;
}

.eye-inner-left {
  position: absolute;
  background-color: var(--green);
  width: 260px;
  height: 255px;
  border-radius: 50%;
  transform: rotate(20deg);
  left: 13px;
  top: 12px;
}

.eye-inner-left::before {
  content: "";
  position: absolute;
  background-color: var(--black);
  width: 210px;
  height: 202px;
  border-radius: 50%;
  top: 24px;
  left: 23px;
}

.eye-inner-left::after {
  content: "";
  position: absolute;
  width: 85px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--white);
  top: 43px;
  left: 71px;
}
