:root {
  --bg: #daf7db;
  --skin: #fbdcc7;
  --green: #3cb92b;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
}

.buttercup {
  position: relative;
  width: 50%;
  height: 50%;
}

.eye-left {
  position: absolute;
  width: 313px;
  height: 296px;
  border-radius: 50%;
  background-color: var(--white);
  border: 3px solid var(--black);
  z-index: -1;
  top: 15px;
}

.eye-inner-left {
  position: absolute;
  background-color: var(--green);
  width: 282px;
  height: 271px;
  border-radius: 50%;
  transform: rotate(20deg);
  left: 10px;
  top: 5px;
}

.eye-inner-left::before {
  content: "";
  position: absolute;
  background-color: var(--black);
  width: 220px;
  height: 228px;
  border-radius: 50%;
  top: 16px;
  left: 28px;
}

.eye-inner-left::after {
  content: "";
  position: absolute;
  width: 83px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--white);
  top: 40px;
  left: 80px;
}

.eyebrow-left {
  position: absolute;
  width: 275px;
  height: 5px;
  border: 10px solid;
  border-color: transparent transparent var(--black) transparent;
  background-color: var(--skin);
  z-index: 1;
  top: 48px;
  left: 96px;
  transform: rotate(31deg);
}

.eyebrow-left::after {
  content: "";
  position: absolute;
  height: 39px;
  width: 9px;
  border-radius: 0% 130% 0% 0/0% 120% 0% 0;
  left: 254px;
  top: -29px;
  background-color: var(--black);
  transform: rotate(-5deg);
}

.eyebrow-left::before {
  content: "";
  position: absolute;
  width: 189px;
  height: 37px;
  background-color: var(--skin);
  top: -39px;
  left: 26px;
}

.head,
.head-stroke {
  position: absolute;
  width: 550px;
  height: 441px;
  border-radius: 50%;
  top: -48px;
  left: -6px;
  transform: rotate(11deg);
}

.head {
  background-color: var(--skin);
  z-index: -1;
}

.head-stroke {
  z-index: 2;
  border: 11px solid var(--black);
}

.eye-right-bottom {
  position: absolute;
  width: 148px;
  height: 179px;
  border-radius: 50% 50% 29% 85%/50% 50% 30% 73%;
  border: 3px solid;
  border-color: transparent transparent var(--black) transparent;
  background-color: var(--white);
  left: 371px;
  top: 140px;
  transform: rotate(14deg);
}

.eye-right-left {
  position: absolute;
  width: 100px;
  height: 168px;
  border-radius: 15% 10% 10% 82%/34% 10% 10% 67%;
  border: 3px solid;
  border-color: transparent transparent transparent var(--black);
  left: -2.5px;
  top: 8px;
  transform: rotate(-7deg);
}

.eye-inner-right {
  position: absolute;
  width: 156px;
  height: 185px;
  background-color: var(--green);
  top: -21px;
  left: 3px;
  border-radius: 50%;
  transform: rotate(11deg);
}

.eye-inner-right::before {
  content: "";
  position: absolute;
  width: 121px;
  height: 155px;
  border: 10px solid var(--black);
  background-color: var(--black);
  top: -10px;
  left: -12px;
  border-radius: 34% 67% 69% 79%/56% 79% 72% 73%;
  transform: rotate(-6deg);
}

.eye-inner-right::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 75px;
  background-color: var(--white);
  top: 6px;
  left: 0px;
  border-radius: 50%;
  transform: rotate(-6deg);
}

.eyebrow-right {
  position: absolute;
  width: 141px;
  height: 5px;
  border: 10px solid;
  border-color: transparent transparent var(--black) transparent;
  background-color: var(--skin);
  z-index: 1;
  top: 108px;
  left: 370px;
  transform: rotate(-15deg);
}

.eyebrow-right::after {
  content: "";
  position: absolute;
  height: 35px;
  width: 9px;
  border-radius: 130% 0% 0% 0/120% 0% 0% 0;
  left: -7px;
  top: -25.5px;
  background-color: var(--black);
  transform: rotate(15deg);
}

.eyebrow-right::before {
  content: "";
  position: absolute;
  width: 87px;
  height: 37px;
  background-color: var(--skin);
  top: -39px;
  left: 21px;
}

.mouth {
  position: absolute;
  width: 79px;
  height: 103px;
  border-bottom: 10px solid var(--black);
  border-radius: 72% 50%;
  top: 242px;
  left: 287px;
  transform: rotate(27deg);
}

.mouth::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 56px;
  border-left: 6px solid var(--black);
  border-radius: 38% 88%;
  top: 48px;
  left: -2px;
  transform: rotate(-16deg);
}

.mouth::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 65px;
  border-right: 6px solid var(--black);
  border-radius: 62% 67%;
  top: 39px;
  left: 42px;
  transform: rotate(35deg);
}

.hair-top-left {
  position: absolute;
  width: 309px;
  height: 107px;
  background-color: var(--black);
  border-radius: 50%;
  left: 54px;
  top: -41px;
  z-index: 2;
  transform: rotate(-7deg);
}

.hair-top-left::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 108px;
  background-color: var(--black);
  left: 210px;
  top: 9px;
  transform: rotate(35deg);
  border-radius: 60% 0 0 0/50% 0 0 0;
}

.hair-top-left::before {
  content: "";
  position: absolute;
  width: 340px;
  height: 159px;
  border-radius: 71% 44% 0% 0%/23% 18% 0% 0%;
  top: 98px;
  left: -77.7px;
  border: 10px solid;
  border-color: var(--black) transparent transparent;
  transform: rotate(6deg);
}

.hair-top-left-hide {
  position: absolute;
  width: 75px;
  height: 30px;
  background-color: var(--black);
  top: 36px;
  left: 238px;
  z-index: 2;
  transform: rotate(7deg);
}

.hair-top-left-hide::before {
  content: "";
  position: absolute;
  width: 79px;
  height: 47px;
  background-color: var(--black);
  top: 22px;
  left: -215px;
  transform: rotate(-12deg);
  border-radius: 50% 0 0 0/100% 0 0 0;
}

.hair-bottom-left {
  position: absolute;
  width: 142px;
  height: 299px;
  border: 10px solid;
  border-color: transparent transparent transparent var(--black);
  border-radius: 45% 0 0 73%/50% 0 0 57%;
  left: -23px;
  top: 7px;
  z-index: -1;
  transform: rotate(-11deg);
  background-color: black;
}

.hair-bottom-left::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 82px;
  background-color: var(--bg);
  border-bottom: 10px solid black;
  border-radius: 0 0 50% 50%/0 0 50% 50%;
  top: -26px;
  left: 10px;
  transform: rotate(-7deg);
}

.hair-bottom-left::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 36px;
  background-color: var(--bg);
  top: -23px;
  left: 84px;
}

.hair-top-right {
  position: absolute;
  width: 43px;
  height: 139px;
  border: 10px solid;
  border-color: transparent var(--black) transparent transparent;
  left: 364px;
  top: -29px;
  transform: rotate(-17deg);
  z-index: 3;
  border-radius: 0 70% 30% 0/0 65% 36% 0;
}

.hair-top-right::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 60px;
  border: 10px solid;
  border-color: var(--black) transparent transparent transparent;
  border-radius: 50% 50% 0 0/32% 39% 0 0;
  top: 153px;
  left: -39px;
  transform: rotate(50deg);
}

.hair-top-right-hide {
  position: absolute;
  width: 132px;
  height: 63px;
  background-color: var(--black);
  left: 423px;
  top: 70px;
  border-radius: 0 100% 0 0/0 100% 0 0;
  transform: rotate(31deg);
  z-index: 2;
}

.hair-top-right-hide {
  position: absolute;
  width: 132px;
  height: 63px;
  background-color: var(--black);
  left: 423px;
  top: 70px;
  border-radius: 0 100% 0 0/0 100% 0 0;
  transform: rotate(31deg);
  z-index: 2;
}

.hair-top-right-hide::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 30px;
  background-color: var(--black);
  left: -87px;
  top: -14px;
  border-radius: 100% 100% 0 73%/100% 100% 0 100%;
  transform: rotate(8deg);
}

.hair-top-right-hide::after {
  content: "";
  position: absolute;
  width: 99px;
  height: 44px;
  background-color: var(--black);
  left: -68px;
  top: -4px;
  border-radius: 100% 100% 0 73%/100% 100% 0 100%;
  transform: rotate(44deg);
}

.hair-bottom-right {
  position: absolute;
  width: 119px;
  height: 258px;
  border: 10px solid;
  border-color: transparent var(--black) transparent transparent;
  border-radius: 0 45% 73% 0/0 50% 57% 0;
  left: 438px;
  top: 111px;
  z-index: -1;
  transform: rotate(34deg);
  background-color: black;
}

.hair-bottom-right::after {
  content: "";
  position: absolute;
  width: 73px;
  height: 61px;
  background-color: var(--bg);
  border-bottom: 10px solid black;
  border-radius: 0 0 50% 50%/0 0 50% 50%;
  top: -26px;
  left: 15px;
}

.hair-bottom-right::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 36px;
  background-color: var(--bg);
  top: -25px;
  left: -23px;
}

.hand-right {
  position: absolute;
  width: 276px;
  height: 163px;
  border: 10px solid;
  border-color: transparent var(--black) transparent transparent;
  border-radius: 0 100% 100% 0/0 68% 52% 0;
  top: 325px;
  left: 187px;
  z-index: -2;
  transform: rotate(-5deg);
  background-color: var(--skin);
}

.hand-right::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 36px;
  border: 10px solid;
  border-color: transparent transparent var(--black) var(--black);
  border-radius: 87% 100% 100% 84%/98% 84% 100% 94%;
  top: 71px;
  left: 161px;
  transform: rotate(-12deg);
}

.hand-right-part-two {
  position: absolute;
  width: 150px;
  height: 92px;
  border: 10px solid;
  border-color: transparent var(--black) transparent transparent;
  border-radius: 0 100% 28% 0/0 57% 53% 0;
  top: 331px;
  left: 247px;
  z-index: -2;
  transform: rotate(18deg);
  background-color: var(--bg);
}

.hand-right-part-two::after {
  content: "";
  position: absolute;
  width: 51px;
  height: 30px;
  border: 10px solid;
  border-color: transparent transparent transparent var(--black);
  border-radius: 95% 0 0 95%/71% 0 0 100%;
  top: 46px;
  left: 118px;
  transform: rotate(-17deg);
}

.hand-right-hide {
  position: absolute;
  width: 184px;
  height: 134px;
  background-color: var(--bg);
  top: 363px;
  left: 175px;
  z-index: -2;
  transform: rotate(-6deg);
}

.hand-right-hide::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 34px;
  border: 13px solid;
  border-color: transparent transparent transparent var(--bg);
  border-radius: 100% 0% 0% 81%/100% 0% 0% 77%;
  top: 64px;
  left: 177px;
  z-index: -2;
  transform: rotate(-56deg);
}

.hand-right-hide::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 56px;
  background-color: var(--bg);
  top: 87px;
  left: 194px;
  z-index: -2;
  transform: rotate(-87deg);
}

.hand-left {
  position: absolute;
  width: 170px;
  height: 86px;
  border: 10px solid;
  border-color: var(--black) transparent transparent var(--black);
  top: 209px;
  left: -103px;
  border-radius: 100% 16% 0 4%/93% 0 0 23%;
  transform: rotate(45deg);
  z-index: -2;
  background-color: var(--skin);
}

.hand-left::before {
  content: "";
  position: absolute;
  width: 68px;
  height: 109px;
  border: 10px solid;
  border-color: var(--black) transparent transparent var(--black);
  top: -12px;
  left: 1px;
  border-radius: 50% 100% 0 88%/48% 70% 0 100%;
  transform: rotate(-129deg);
  z-index: 1;
}

.hand-left::after {
  content: "";
  position: absolute;
  width: 104px;
  height: 82px;
  border: 10px solid;
  border-color: var(--black) transparent transparent transparent;
  top: 6px;
  left: 82px;
  border-radius: 83% 100% 0 0/69% 43% 0 0;
  transform: rotate(-33deg);
  background-color: var(--bg);
}

.hand-left-hide {
  position: absolute;
  width: 66px;
  height: 74px;
  border-radius: 50% 100% 0 63%/48% 70% 0 100%;
  background-color: var(--skin);
  top: 209px;
  left: -103px;
  transform: rotate(-70deg);
}

.body {
  position: absolute;
  width: 316px;
  height: 268px;
  border: 10px solid;
  border-color: transparent transparent transparent var(--black);
  border-radius: 84% 0 0 50%/70% 0 0 50%;
  top: 309px;
  left: 28px;
  transform: rotate(20deg);
  z-index: -2;
  background-color: var(--green);
}

.body::after {
  content: "";
  position: absolute;
  width: 129px;
  height: 178px;
  border: 10px solid;
  border-color: transparent transparent transparent var(--black);
  border-radius: 52% 0 0 61%/50% 0 0 60%;
  top: 4px;
  left: 132px;
  transform: rotate(-17deg);
  z-index: -2;
  background-color: var(--skin);
}

.foot-right {
  position: absolute;
  width: 168px;
  height: 299px;
  border: 10px solid;
  border-color: transparent var(--black) transparent transparent;
  border-radius: 0 52% 60% 0/0 50% 50% 0;
  top: 475px;
  left: 76px;
  transform: rotate(-4deg);
}

.foot-right::after {
  content: "";
  position: absolute;
  width: 77px;
  height: 60px;
  border: 10px solid;
  border-color: transparent transparent var(--black) transparent;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  top: 205px;
  left: 25px;
  transform: rotate(30deg);
  background-color: var(--black);
}

.foot-right::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 147px;
  border: 10px solid;
  border-color: transparent var(--black) transparent transparent;
  border-radius: 0 47% 50% 0/0 50% 69% 0;
  top: 43px;
  left: 4px;
  transform: rotate(5deg);
}

.body-center {
  position: absolute;
  width: 179px;
  height: 42px;
  border: 10px solid;
  border-color: transparent transparent var(--black) transparent;
  top: 443px;
  left: 15px;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  transform: rotate(18deg);
}

.body-center::after {
  content: "";
  position: absolute;
  width: 124px;
  height: 20px;
  border: 10px solid;
  border-color: transparent transparent var(--black) transparent;
  top: -70px;
  left: 2px;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  transform: rotate(9deg);
}

.body-center-fill {
  position: absolute;
  width: 148px;
  height: 68px;
  background-color: var(--black);
  top: 412px;
  left: 28px;
  transform: rotate(25deg);
  border-radius: 0 0 50% 50%/0 0 50% 50%;
}

.body-center-fill::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 20px;
  background-color: var(--black);
  top: -12px;
  left: 3px;
  transform: rotate(25deg);
}

.body-center-fill::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 52px;
  background-color: var(--black);
  top: -7px;
  left: 126px;
  transform: rotate(-31deg);
}
