:root {
  --bg: #ae0002;
  --scar: #eeba32;
  --glasses: #020000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.show {
  position: relative;
}

.scar {
  position: absolute;
  border-left: 3.2rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 5rem solid var(--scar);
}

.scar::after {
  content: "";
  position: absolute;
  border-left: 2.8rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 8.5rem solid var(--bg);
  top: -4.8rem;
  left: -1.25rem;
  transform: rotate(-3deg);
}

.part-two {
  top: 3.5rem;
  left: 0.95rem;
  transform: scale(-1);
}

.glasses-one,
.glasses-two {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.3rem solid var(--glasses);
  top: 9.5rem;
}

.glasses-one {
  left: -9rem;
}

.glasses-two {
  left: 5rem;
}
