:root {
  --hair: #8a480f;
  --skin: #f8d0a8;
  --tears: #d0fbf2;
  --white: #ffffff;
  --black: #000000;
  --cloths: #fcfd69;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.morty {
  position: relative;
  width: 50vw;
  top: 20vh;
}

.head {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid var(--black);
  background-color: var(--skin);
}

.hair {
  position: absolute;
  width: 338px;
  height: 324px;
  border-radius: 50%;
  background-color: var(--hair);
  border: 1px solid var(--black);
  top: -56px;
  left: -42px;
}
