:root {
  --hair: #8a480f;
  --skin: #f8d0a8;
  --tears: #d0fbf2;
  --white: #ffffff;
  --black: #000000;
  --cloths: #fcfd69;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.morty {
  position: relative;
  width: 50vw;
  top: 20vh;
}

.head {
  position: absolute;
  width: 315px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid var(--black);
  background-color: var(--skin);
  transform: rotate(-15deg);
}

.hair {
  position: absolute;
  width: 351px;
  height: 329px;
  border-radius: 50%;
  background-color: var(--hair);
  border: 1px solid var(--black);
  top: -62px;
  left: -43px;
  transform: rotate(-10deg);
}

.ear {
  position: absolute;
  width: 75px;
  height: 49px;
  border-radius: 58% 50% 0 0/100% 69% 0 0;
  background-color: var(--skin);
  border: 1px solid;
  border-color: var(--black) var(--black) transparent var(--black);
  top: 193px;
  left: -35px;
  transform: rotate(-110deg);
}

.ear-right {
  top: 150px;
  left: 263px;
  transform: scaleX(-1) rotate(-90deg);
  z-index: -1;
}

.eye {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid;
  border-color: var(--black) var(--black) transparent var(--black);
  background-color: var(--skin);
}

.eye-left {
  transform: rotate(-24deg);
  top: 84px;
  left: 49px;
}

.eye-right {
  transform: rotate(-10deg);
  top: 53px;
  left: 184px;
}

.eye-left::after {
  content: "";
  position: absolute;
  width: 84px;
  height: 21px;
  background-color: var(--skin);
  border: 1px solid;
  border-color: transparent var(--black) var(--black) transparent;
  top: -9px;
  border-radius: 0 28% 30% 0%/0% 100% 100% 0%;
  left: 10px;
  transform: rotate(10deg);
}

.eye-right::after {
  content: "";
  position: absolute;
  width: 87px;
  height: 19px;
  background-color: var(--skin);
  border: 1px solid;
  border-color: transparent var(--black) var(--black) transparent;
  top: -4px;
  border-radius: 0 28% 30% 0%/0% 100% 100% 0%;
  left: 6px;
  transform: scaleX(-1) rotate(3deg);
}

.nose {
  position: absolute;
  width: 34px;
  height: 25px;
  border-radius: 0% 100% 100% 0%/0 100% 100% 0;
  border: 1px solid;
  border-color: var(--black) var(--black) var(--black) transparent;
  top: 157px;
  left: 168px;
  transform: rotate(27deg);
}

.mouth {
  position: absolute;
  width: 59px;
  height: 72px;
  border-radius: 30% 60% 0 24%/30% 35% 0 60%;
  border: 1px solid;
  border-color: var(--black) transparent transparent var(--black);
  top: 206px;
  left: 167px;
  transform: rotate(29deg);
}

.mouth::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 29% 100% 0 100%/32% 85% 0 100%;
  border: 1px solid;
  border-color: var(--black) transparent transparent var(--black);
  top: 50px;
  left: -6px;
  transform: rotate(-146deg);
}

.mouth::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 29% 100% 0 100%/32% 85% 0 100%;
  border: 1px solid;
  border-color: var(--black) transparent transparent var(--black);
  top: -6px;
  left: 34px;
  transform: rotate(-196deg);
}
