:root {
  --floor: #aa954a;
  --trolley: #4b5242;
  --cage-one: #3d473e;
  --cage-two: #a26308;
  --wall: #8a6b2f;
  --wall-side: #af903d;
  --brick: #774f20;
  --brick-side: #ab7d30;
  --brick-mark-one: #5e3a15;
  --train: #773115;
  --train-yellow-lines: #cd9214;
  --train-top-line: #858661;
  --train-top-line-shadow: #dfe3db;
  --train-top-two: #636243;
  --train-top-two-shadow: #949c7d;
  --train-top-three: #524d31;
  --train-top-three-shadow: #a39f70;
  --train-top-shine: #cdc799;
  --divider: #9c341b;
  --train-shine: #e9dea6;
  --window-stroke: #3e3018;
  --window-three-stroke: #42371e;
  --window-one-bg: #7b6042;
  --window-one-bg-shadow: #917d62;
  --window-one-bar-shadow-one: #776142;
  --window-one-bar-shadow-two: #513f26;
  --widnow-one-fade-bars: #8d775b;
  --window-two-stroke-shadow: #554323;
  --window-two-bg-shadow-one: #7d6540;
  --window-two-bg-shadow-two: #5a5c60;
  --window-two-bg-shadow-stroke: #624d2d;
  --window-two-bar-shadow-one: #79603c;
  --window-two-bar-shadow-two: #5b4520;
  --window-two-fade-bar-one: #725c3c;
  --window-two-fade-bar-two: #5c4b31;
  --window-three-bg: #583e20;
  --window-three-bg-stroke: #4d3f27;
  --window-three-bg-shadow-one: #65502d;
  --window-three-bg-shadow-two: #57595d;
  --window-three-fade-bars: #46361b;
  --window-three-thin-fade-bars: #51391d;
  --window-three-fade-bars-shadow: #5e5955;
  --door-one-edge: #c54a2a;
  --door-one-bg: #6a2d14;
  --door-one-handler: #757652;
  --door-one-yellow: #ffbc00;
  --door-one-window-bg: #543016;
  --door-two-frame: #53361a;
  --door-two-bg-one: #482811;
  --door-two-bg-two: #34240f;
  --door-two-border-one: #40342a;
  --door-two-border-two: #3a3228;
  --door-two-window-bg: #63768f;
  --door-two-handler: #413819;
  --window-four-bg-one: #684d23;
  --window-four-bg-two: #4d3417;
  --window-four-handler: #6b512b;
  --train-bottom-left: #3d3119;
  --train-bottom-right: #594923;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.platform {
  position: relative;
  /* width: 100rem;
  height: 58rem; */
  /* display: flex; */
  /* background-color: green; */
}

.container {
  position: absolute;
}

.floor {
  align-self: flex-end;
  position: absolute;
  background-color: var(--floor);
  width: 100vw;
  height: 18rem;
}

.trolley {
  position: absolute;
  width: 17rem;
  height: 0.9rem;
  background-color: var(--trolley);
  transform: rotate(-9deg) skew(-9deg);
  left: 9rem;
  top: 9rem;
}

.trolley::before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 0.9rem;
}

.wall-left {
  position: absolute;
  width: 12rem;
  height: 48rem;
  background-image: linear-gradient(
    to right,
    var(--wall) 27%,
    var(--wall-side) 105%
  );
  filter: blur(0.049rem);
  z-index: 2;
}

.wall-left::before {
  content: "";
  position: absolute;
  /* width: 1.5rem; */
  height: 47rem;
  /* background-color: var(--wall-side); */
  border-left: 2.5rem solid var(--wall-side);
  border-bottom: 1rem solid transparent;
  left: 12rem;
  box-shadow: inset -1rem 1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.wall-left::after {
  content: "";
  position: absolute;
  width: 12rem;
  height: 48rem;
  background-color: transparent;
  box-shadow: inset -0.5rem 0rem 1.5rem 0.2rem rgba(0, 0, 0, 0.1),
    0.1rem 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.brick-one {
  position: absolute;
  width: 4rem;
  height: 2.4rem;
  background-color: var(--brick);
  border-radius: 0.25rem;
  top: 33rem;
  left: 5.5rem;
  box-shadow: -0.1rem 0.1rem 0.25rem 0.1rem rgba(0, 0, 0, 0.2);
}

.brick-two {
  position: absolute;
  width: 3.9rem;
  height: 2.3rem;
  background-color: var(--brick);
  border-radius: 0.25rem;
  box-shadow: -0.1rem 0.1rem 0.25rem 0.1rem rgba(0, 0, 0, 0.2);
  top: 29.7rem;
  left: 7rem;
}

.brick-three {
  position: absolute;
  width: 1.67rem;
  height: 1.7rem;
  background-color: var(--brick-side);
  border-radius: 0 0.3rem 0.3rem 0;
  box-shadow: inset 0.05rem 0 0.1rem 0.01rem rgba(0, 0, 0, 0.2),
    -0.01rem 0.01rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
  transform: skewY(-9deg);
  left: 12.688rem;
  top: 24rem;
}

.brick-three::before {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 1.7rem;
  background-image: linear-gradient(
    to left,
    var(--brick-side) -38%,
    var(--brick) 131%
  );
  /* box-shadow: 0.05rem 0 0.1rem 0.01rem rgba(0, 0, 0, 0.2); */
  transform: skewY(22deg);
  left: -0.01rem;
  border-radius: 0.05rem 0 0 0.05rem;
}

.brick-four {
  position: absolute;
  width: 2.1rem;
  height: 1.9rem;
  /* background-color: var(--brick); */
  background-image: linear-gradient(
    to right,
    var(--brick) 37%,
    var(--brick-side)
  );
  top: 22.1rem;
  left: 10.2rem;
  border-radius: 0.25rem 0 0 0.25rem;
  z-index: 1;
  box-shadow: -0.1rem 0.07rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
}

.brick-four::before {
  position: absolute;
  content: "";
  width: 1.75rem;
  height: 1.9rem;
  background-color: var(--brick-side);
  transform: skewY(-9deg);
  border-radius: 0 0.25rem 0.25rem 0;
  box-shadow: inset 0.05rem 0 0.1rem 0.01rem rgba(0, 0, 0, 0.2),
    -0.01rem 0.01rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
  left: 2.1rem;
  top: -0.12rem;
}

.brick-four::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 0.3rem;
  color: var(--brick-mark-one);
  background-color: var(--brick-mark-one);
  box-shadow: 1.52rem 0rem, 0.7rem 0.5rem, 1rem 0.5rem, 0.5rem 0.5rem,
    1.5rem 1rem, 1rem 1.5rem, 1.7rem 1.5rem;
  filter: blur(0.1rem);
}

.brick-five {
  position: absolute;
  width: 3.2rem;
  height: 1.5rem;
  /* background-color: var(--brick); */
  background-image: linear-gradient(
    to right,
    var(--brick) 10%,
    var(--brick-side) 142%
  );
  top: 16rem;
  left: 9.3rem;
  border-radius: 0.25rem 0 0 0.25rem;
  z-index: 1;
  box-shadow: -0.1rem 0.1rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
}

.brick-five::after {
  content: "";
  position: absolute;
  width: 0.9rem;
  height: 1.55rem;
  background-color: var(--brick-side);
  border-radius: 0 0.25rem 0.25rem 0;
  transform: skewY(-9deg);
  box-shadow: inset 0.01rem 0rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2),
    0rem 0.01rem 0.01rem 0.01rem rgba(0, 0, 0, 0.2);
  left: 3.1rem;
  top: -0.05rem;
}

.brick-six,
.brick-seven {
  position: absolute;
  width: 3.6rem;
  height: 1.8rem;
  background-color: var(--brick);
  border-radius: 0.25rem;
  box-shadow: -0.1rem 0.1rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
}

.brick-six {
  top: 13.5rem;
  left: 6.8rem;
}

.brick-seven {
  top: 11.3rem;
  left: 7.8rem;
}

.brick-eight {
  position: absolute;
  width: 4.1rem;
  height: 3.9rem;
  background-color: var(--brick);
  left: 8.5rem;
  top: 7.6rem;
  border-radius: 0.25rem 0 0 0.25rem;
  z-index: 1;
  box-shadow: -0.1rem 0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.25),
    inset 0rem 0.15rem 0.2rem 0.01rem rgb(255 255 255 / 10%);
}

.brick-eight::before {
  position: absolute;
  content: "";
  width: 3.1rem;
  height: 3.9rem;
  background-color: var(--brick-side);
  transform: skewY(-9deg);
  left: 4.1rem;
  top: -0.3rem;
  border-radius: 0 0.25rem 0.25rem 0;
}

.brick-eight::after {
  content: "";
  position: absolute;
  width: 3rem;
  border-left: 0.7rem solid transparent;
  border-right: 0.5rem solid var(--brick);
  border-bottom: 0.7rem solid var(--brick);
  top: -0.6rem;
  left: -0.1rem;
}

.brick-line {
  position: absolute;
  width: 4.1rem;
  height: 0.05rem;
  background-color: rgba(0, 0, 0);
  top: 2.1rem;
  filter: blur(0.05rem);
}

.brick-line::after {
  position: absolute;
  content: "";
  width: 3.1rem;
  height: 0.05rem;
  background-color: rgba(0, 0, 0);
  transform: skewY(-9deg);
  left: 4.07rem;
  top: -0.25rem;
}

.bricks-left {
  position: absolute;
  top: 7rem;
}

.train {
  box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.5);
}

.train::before,
.train::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.7rem;
  background-color: var(--train-yellow-lines);
}

.train::after {
  top: 10.7rem;
}

.train::before {
  top: -0.5rem;
}

.train-top {
  position: absolute;
  width: 110rem;
}

.train-top-line {
  position: absolute;
  width: 110rem;
  height: 0.5rem;
  background-image: linear-gradient(
    to right,
    var(--train-top-line-shadow) -100%,
    var(--train-top-line) 31%,
    var(--train-top-line-shadow) 37%,
    var(--train-top-line) 42%,
    var(--train-top-line) 56%,
    var(--train-top-line-shadow) 64%,
    var(--train-top-line) 72%
  );
  z-index: 1;
  top: 21.1rem;
}

.train-top-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.8rem;
  background-image: linear-gradient(
    to right,
    var(--train-top-two) 30%,
    var(--train-top-two-shadow),
    var(--train-top-two) 30%,
    var(--train-top-two-shadow) 58%,
    var(--train-top-two) 76%
  );
  top: -2.8rem;
}

.train-top-line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.3rem;
  background-image: linear-gradient(
    to right,
    var(--train-top-three) 36%,
    var(--train-top-three-shadow) 61%,
    var(--train-top-three) 100%,
    var(--train-top-three-shadow)
  );
  top: -5rem;
}

.train-top-bolt {
  position: absolute;
  width: 0.8rem;
  height: 0.9rem;
  border-radius: 0.1rem;
  background-color: var(--train-top-line);
  z-index: 1;
  box-shadow: 0.05rem 0.06rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
  top: 20.9rem;
  left: 6rem;
}

.train-top-bolt:nth-child(2):before,
.train-top-bolt:nth-child(3):before,
.train-top-bolt:nth-child(4):before,
.train-top-bolt:nth-child(5)::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 2.9rem;
  transform: skewX(-14deg);
  background-color: var(--train-top-line);
  top: -2.83rem;
  left: 0.35rem;
  box-shadow: 0.05rem 0rem 0.01rem 0.01rem rgba(0, 0, 0, 0.2);
}

.train-top-bolt:nth-child(9):before,
.train-top-bolt:nth-child(6):before,
.train-top-bolt:nth-child(7):before,
.train-top-bolt:nth-child(8)::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 2.9rem;
  transform: skewX(-5deg);
  background-color: var(--train-top-line);
  top: -2.83rem;
  left: 0.12rem;
  box-shadow: 0.05rem 0rem 0.01rem 0.01rem rgba(0, 0, 0, 0.2);
}

.train-top-bolt:nth-child(6)::before {
  transform: skewX(-9deg);
  left: 0.2rem;
}

.train-top-bolt:nth-child(9):before {
  transform: skewX(0deg);
  left: 0;
}

.train-top-bolt:nth-child(10):before,
.train-top-bolt:nth-child(11):before,
.train-top-bolt:nth-child(12):before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 2.9rem;
  transform: skewX(10deg);
  background-color: var(--train-top-line);
  top: -2.83rem;
  left: -0.25rem;
  box-shadow: 0.05rem 0rem 0.01rem 0.01rem rgba(0, 0, 0, 0.2);
}

.train-top-bolt:nth-child(2):after,
.train-top-bolt:nth-child(3):after,
.train-top-bolt:nth-child(4):after,
.train-top-bolt:nth-child(5):after {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 2.2rem;
  transform: skewX(-23deg);
  background-color: var(--train-top-two);
  top: -5.02rem;
  left: 1.15rem;
  box-shadow: 0.1rem 0rem 0.2rem 0.005rem rgb(134 135 99);
}

.train-top-bolt:nth-child(6):after,
.train-top-bolt:nth-child(7):after,
.train-top-bolt:nth-child(8):after,
.train-top-bolt:nth-child(9):after {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 2.2rem;
  background-color: var(--train-top-two);
  transform: skewX(-5deg);
  top: -5.02rem;
  left: 0.37rem;
  box-shadow: 0rem 0rem 0.1rem 0.005rem rgb(134 135 99);
}

.train-top-bolt:nth-child(6):after {
  transform: skewX(-11deg);
  left: 0.65rem;
}

.train-top-bolt:nth-child(9):after {
  transform: skewX(0deg);
  left: 0;
}

.train-top-bolt:nth-child(10):after,
.train-top-bolt:nth-child(11):after,
.train-top-bolt:nth-child(12):after {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 2.2rem;
  transform: skewX(15deg);
  background-color: var(--train-top-two);
  top: -5.02rem;
  left: -0.75rem;
  box-shadow: -0.1rem 0rem 0.2rem 0.005rem rgb(134 135 99);
}

.train-top-bolt:nth-child(7)::after,
.train-top-bolt:nth-child(8)::after,
.train-top-bolt:nth-child(9)::after {
  background-color: var(--train-top-three-shadow);
}

.tiny-part-right,
.tiny-part-left {
  position: absolute;
  width: 1rem;
  height: 0.3rem;
  background-color: inherit;
  top: -5.03rem;
}

.tiny-part-right {
  left: 1.9rem;
  border-radius: 0 81% 0 0;
}

.tiny-part-left {
  left: -1.6rem;
  border-radius: 81% 0 0 0;
  background-color: var(--train-top-two);
}

/* .train-top-bolt:nth-child(5)::before,
.train-top-bolt:nth-child(8)::before,
.train-top-bolt:nth-child(9)::before {
  box-shadow: inset 0rem 0rem 0.9rem 0.05rem var(--train-top-line-shadow);
} */

.bolt-one {
  left: 17rem;
  /* left: 40%; */
}

.bolt-two {
  left: 25rem;
}

.bolt-three {
  left: 33rem;
}

.bolt-four {
  left: 41rem;
  /* box-shadow: inset 0rem 0rem 0.9rem 0.05rem var(--train-top-line-shadow); */
}

.bolt-five {
  left: 49rem;
}

.bolt-six {
  left: 57rem;
}

.bolt-seven {
  left: 65rem;
  /* box-shadow: inset 0rem 0rem 0.9rem 0.05rem var(--train-top-line-shadow); */
}

.bolt-eight {
  left: 73rem;
  /* box-shadow: inset 0rem 0rem 0.9rem 0.05rem var(--train-top-line-shadow); */
}

.bolt-nine {
  left: 81rem;
}

.bolt-ten {
  left: 89rem;
}

.bolt-eleven {
  left: 97rem;
}

.top-circle {
  position: absolute;
  z-index: 0;
  width: 3rem;
  height: 2.5rem;
  background-image: conic-gradient(
    from 147deg at 64% -6%,
    var(--train-top-line) 2%,
    var(--train-top-two) 16%,
    var(--train-top-line) 180deg
  );
  border-radius: 50%;
  top: 15rem;
}

.circle-one {
  left: 14rem;
}

.circle-two {
  left: 22rem;
}

.circle-three {
  left: 30rem;
}

.circle-four {
  left: 38rem;
}

.circle-five {
  left: 83rem;
}

.circle-six {
  left: 91rem;
}

.circle-seven {
  left: 98rem;
}

.train-top-shine,
.train-top-shine::before,
.train-top-shine::after {
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: var(--train-top-shine);
  box-shadow: 0 0 0.5rem 0.4rem var(--train-top-shine);
  z-index: 1;
}

.train-top-shine {
  top: 18.7rem;
  left: 40rem;
}

.train-top-shine::before {
  content: "";
  left: 13rem;
  top: 2rem;
}

.train-top-shine::after {
  content: "";
  left: 39rem;
  top: -2rem;
}

.divider-one,
.divider-two,
.divider-three,
.divider-four,
.divider-five {
  position: absolute;
  width: 0.2rem;
  height: 17.8rem;
  background-color: var(--divider);
  box-shadow: 0.01rem 0 0.01rem 0.01rem rgba(0, 0, 0, 0.2),
    -0.005rem 0 0.02rem 0.01rem rgba(0, 0, 0, 0.05),
    inset -0.05rem 0 0.2rem 0.01rem rgb(255 255 255 / 10%);
  top: 0.2rem;
}

.divider-one {
  left: 23.2rem;
}

.divider-two {
  left: 38.7rem;
}

.divider-three {
  left: 63.8rem;
  background-image: linear-gradient(to bottom, var(--divider), var(--train));
}

.divider-four {
  left: 79.7rem;
}

.divider-five {
  left: 95rem;
}

.train-shine-one,
.train-shine-one::before {
  position: absolute;
  background-color: var(--train-shine);
  box-shadow: 0 0 0.4rem 0.25rem var(--train-shine);
  border-radius: 1.5rem;
  z-index: 1;
}

.train-shine-one {
  width: 0.35rem;
  height: 0.35rem;
  top: 10.6rem;
  left: 32.5rem;
}

.train-shine-one::before {
  content: "";
  width: 0.2rem;
  height: 0.2rem;
  left: 0.3rem;
  top: -0.2rem;
}

.window-one {
  position: absolute;
  width: 9rem;
  height: 7.5rem;
  background-color: var(--window-one-bg);
  border: solid var(--window-stroke);
  border-width: 0.35rem 0.45rem;
  border-radius: 1.3rem;
  left: 12rem;
  top: 1.5rem;
  box-shadow: 0.15rem 0 0.2rem 0.001rem var(--window-one-bg-shadow);
}

.window-one::before {
  content: "";
  position: absolute;
  width: 5.2rem;
  height: 6.3rem;
  border-radius: 1.1rem 1rem 1.1rem 1.1rem;
  background-color: var(--window-one-bg-shadow);
  left: 2.9rem;
  top: 0.5rem;
}

.window-bg-shadow {
  position: absolute;
  width: 4.89rem;
  height: 6.45rem;
  border: 0.4rem solid;
  border-color: var(--window-one-bar-shadow-one) transparent
    var(--window-one-bar-shadow-two) var(--window-one-bar-shadow-two);
  border-radius: 0 0 0 1.1rem;
  left: 3rem;
  top: 0.6rem;
}

.window-bg-shadow::after {
  content: "";
  position: absolute;
  height: 0.28rem;
  width: 0.5rem;
  background-color: var(--window-stroke);
  top: 5.8rem;
  left: 4rem;
  transform: rotate(-21deg);
  border-radius: 0.3rem;
}

.window-bg-shadow::before {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 4.3rem;
  background-color: var(--window-stroke);
  top: 5.83rem;
}

.window-one-bar-one,
.window-two-bar-one,
.window-two-bar-two,
.window-two-bar-three {
  position: absolute;
  width: 0.45rem;
  height: 7.3rem;
  background-color: var(--window-stroke);
}

.window-one-bar-one {
  left: 6rem;
  top: -0.3rem;
}

.window-one-bar-one::before {
  content: "";
  position: absolute;
  width: 0.45rem;
  height: 6.35rem;
  background-image: linear-gradient(
    to bottom,
    var(--window-one-bar-shadow-one),
    var(--window-one-bar-shadow-two)
  );
  left: -1.2rem;
  top: 0.8rem;
}

.window-one-bar-two,
.window-one-bar-two::after {
  position: absolute;
  width: 7.5rem;
  height: 0.45rem;
  background-color: var(--window-stroke);
  z-index: 1;
}

.window-one-bar-two {
  top: 2.5rem;
  left: 1rem;
}

.window-one-bar-two::after {
  content: "";
}

.window-one-bar-two::before {
  content: "";
  position: absolute;
  width: 5.02rem;
  height: 0.45rem;
  background-image: linear-gradient(
    to left,
    var(--window-one-bar-shadow-one),
    var(--window-one-bar-shadow-two)
  );
  left: 2.1rem;
  top: 0.5rem;
}

.window-one-bar-three {
  position: absolute;
  width: 0.45rem;
  height: 3.1rem;
  background-color: var(--window-stroke);
  left: 3rem;
  top: -0.3rem;
}

.window-one-bar-three::before {
  content: "";
  position: absolute;
  width: 0.45rem;
  height: 2.5rem;
  background-image: linear-gradient(
    to bottom,
    var(--window-one-bar-shadow-one) 72%,
    var(--window-one-bar-shadow-two)
  );
  left: 4.5rem;
  top: 0.8rem;
}

.fade-bar-one,
.fade-bar-two,
.fade-bar-one::after {
  position: absolute;
  width: 0.1rem;
  height: 6rem;
  background-image: linear-gradient(
    to bottom,
    transparent 43%,
    var(--widnow-one-fade-bars)
  );
}

.fade-bar-one {
  left: 3.8rem;
  top: 1rem;
}

.fade-bar-two {
  left: 6.8rem;
  top: 1rem;
}

.fade-bar-one::after {
  content: "";
  transform: rotate(90deg);
  top: 1.7rem;
  left: 2.2rem;
}

.fade-bar-three {
  position: absolute;
  width: 0.005rem;
  height: 7rem;
  background-color: var(--window-one-bar-shadow-two);
  left: 4.5rem;
  top: -1.25rem;
  transform: rotate(50deg);
  z-index: 1;
  filter: blur(0.02rem);
}

.fade-bar-three::before {
  content: "";
  position: absolute;
  width: 0.005rem;
  height: 5.5rem;
  background-color: var(--window-one-bar-shadow-one);
  filter: blur(0.02rem);
  transform: rotate(-100deg);
  top: -0.1rem;
  left: 1.3rem;
}

.window-one-hide {
  position: absolute;
  width: 0.45rem;
  height: 0.7rem;
  background-color: var(--window-stroke);
  top: 2.9rem;
  left: 6rem;
  z-index: 2;
}

.window-two {
  position: absolute;
  width: 9.5rem;
  height: 7.5rem;
  background-image: linear-gradient(
    to right,
    var(--window-two-stroke-shadow) 53%,
    var(--window-stroke)
  );
  border-radius: 1.3rem;
  left: 26.1rem;
  top: 1.5rem;
  /* box-shadow: 0.15rem 0 0.2rem 0.001rem var(--window-one-bg-shadow); */
}

.window-two::before {
  content: "";
  position: absolute;
  width: 9.5rem;
  height: 6.85rem;
  background-image: linear-gradient(
    to bottom,
    var(--window-one-bar-shadow-one) 53%,
    var(--window-one-bar-shadow-two)
  );
  border: solid var(--window-stroke);
  border-width: 0.35rem 0.45rem 0.35rem 0.2rem;
  border-radius: 1.3rem;
  left: 0.15rem;
  top: 0.02rem;
  /* box-shadow: 0.15rem 0 0.2rem 0.001rem var(--window-one-bg-shadow); */
}

.window-two-bar-one {
  left: 2.5rem;
}

.window-two-bar-two {
  left: 5rem;
  height: 2.8rem;
}

.window-two-bar-three {
  left: 7.5rem;
}

.window-two-bar-four {
  position: absolute;
  background-color: var(--window-stroke);
  width: 10rem;
  height: 0.45rem;
  top: 2.8rem;
  left: 0.2rem;
}

.window-two-bg-shadow {
  position: absolute;
  width: 6rem;
  height: 6.3rem;
  border-radius: 1.1rem 0.25rem 1.1rem 1.1rem;
  background-image: linear-gradient(
    to bottom,
    var(--window-two-bg-shadow-one) 32%,
    var(--window-two-bg-shadow-two)
  );
  border-left: 0.35rem solid var(--window-two-bg-shadow-stroke);
  border-top: 0.35rem solid var(--window-two-bg-shadow-stroke);
  box-shadow: -0.1rem 0 0.05rem 0.001rem var(--window-two-bg-shadow-one);
  top: 0.95rem;
  left: 3.9rem;
}

.window-two-bg-shadow::before {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 6rem;
  background-color: var(--window-two-bg-shadow-stroke);
  left: 1.05rem;
  top: -0.05rem;
}

.window-two-bg-shadow::after {
  content: "";
  position: absolute;
  height: 0.4rem;
  width: 5.75rem;
  background-color: var(--window-two-bg-shadow-stroke);
  left: -0.1rem;
  top: 1.99rem;
}

.window-two-fade-bar-one,
.window-two-fade-bar-two {
  position: absolute;
  width: 0.2rem;
  height: 3.55rem;
  background-image: linear-gradient(
    to bottom,
    var(--window-two-fade-bar-one),
    var(--window-two-fade-bar-two)
  );
}

.window-two-fade-bar-one {
  left: 4.75rem;
  top: 3.7rem;
}

.window-two-fade-bar-two {
  left: 7.1rem;
  top: 3.7rem;
}

.window-two-fade-bar-three {
  position: absolute;
  width: 5.7rem;
  height: 0.2rem;
  background-image: linear-gradient(
    to right,
    var(--window-two-fade-bar-two),
    var(--window-two-fade-bar-one)
  );
  top: 5.85rem;
  left: 4.2rem;
}

.window-two-fade-bar-three::before {
  content: "";
  position: absolute;
  width: 4.2rem;
  height: 0.2rem;
  box-shadow: 0 0.01rem 0.5rem 0.001rem var(--train-top-shine);
  left: 1.5rem;
}

.window-two-fade-bar-one::after {
  content: "";
  position: absolute;
  width: 0.005rem;
  height: 10.75rem;
  background-color: var(--window-one-bar-shadow-two);
  transform: rotate(52deg);
  top: -5.4rem;
  left: 0.2rem;
  filter: blur(0.02rem);
}

.window-two-fade-bar-one::before {
  content: "";
  position: absolute;
  width: 0.005rem;
  height: 6.9rem;
  background-color: var(--window-two-fade-bar-two);
  transform: rotate(-51deg);
  top: -3.5rem;
  left: 2.45rem;
  filter: blur(0.02rem);
}

.window-two-fade-bar-two::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 3.4rem;
  background-image: linear-gradient(
    to bottom,
    var(--window-two-fade-bar-one),
    var(--window-two-fade-bar-two)
  );
  border-radius: 0 0 0.9rem 0/0 0 2rem 0;
  top: -0.02rem;
  left: 2.27rem;
  filter: blur(0.02rem);
}

.window-three {
  position: absolute;
  width: 9.8rem;
  height: 7.5rem;
  background-color: var(--window-three-bg);
  border: solid var(--window-three-stroke);
  border-width: 0.35rem 0.45rem;
  border-radius: 1.3rem;
  left: 41.5rem;
  top: 1.5rem;
}

.window-three-bar-one,
.window-three-bar-two,
.window-three-bar-three {
  position: absolute;
  width: 0.45rem;
  height: 7.3rem;
  background-color: var(--window-three-stroke);
  top: -0.2rem;
}

.window-three-bar-one {
  left: 1.8rem;
}

.window-three-bar-two {
  height: 2.8rem;
  left: 4.2rem;
}

.window-three-bar-three {
  left: 6.8rem;
}

.window-three-bar-four {
  position: absolute;
  width: 9.25rem;
  height: 0.45rem;
  background-color: var(--window-three-stroke);
  top: 2.5rem;
  left: -0.15rem;
}

.window-three-bg-shadow {
  position: absolute;
  width: 7.75rem;
  height: 6.3rem;
  background-image: linear-gradient(
    to bottom,
    var(--window-three-bg-shadow-one) 30%,
    var(--window-three-bg-shadow-two)
  );
  border-top: 0.3rem solid var(--window-three-bg-stroke);
  border-left: 0.3rem solid var(--window-three-bg-stroke);
  border-radius: 1.1rem 0.3rem 1.1rem 1.1rem;
  box-shadow: -0.05rem 0 0.2rem 0.01rem var(--window-three-bg-shadow-one);
  left: 1.2rem;
  top: 0.55rem;
}

.window-three-fade-bar-one,
.window-three-fade-bar-two,
.window-three-fade-bar-three {
  position: absolute;
  width: 0.4rem;
  height: 6.1rem;
  background-color: var(--window-three-fade-bars);
  top: 0.8rem;
}

.window-three-fade-bar-one {
  left: 3.2rem;
}

.window-three-fade-bar-two {
  left: 5.5rem;
  height: 2.4rem;
}

.window-three-fade-bar-three {
  left: 7.8rem;
}

.window-three-fade-bar-four,
.window-six-fade-bar-four {
  position: absolute;
  width: 7.55rem;
  height: 0.4rem;
  background-color: var(--window-three-fade-bars);
  top: 3rem;
  left: 1.45rem;
}

.window-three-fade-bar-one::before,
.window-six-fade-bar-four::before,
.window-three-fade-bar-one::after {
  content: "";
  position: absolute;
  width: 0.17rem;
}

.window-three-fade-bar-one::before {
  background-color: var(--window-three-thin-fade-bars);
  left: 2.65rem;
  top: 2.2rem;
  height: 3.9rem;
  filter: drop-shadow(-0.4rem 0rem 0.2rem var(--window-three-fade-bars));
}

.window-three-fade-bar-one::after {
  background-image: linear-gradient(
    to bottom,
    var(--window-three-bg-shadow-one),
    var(--window-three-thin-fade-bars)
  );
  left: 5.235rem;
  top: 0.7rem;
  height: 5.2rem;
}

.window-three-fade-bar-four::before {
  position: absolute;
  content: "";
  width: 7.77rem;
  height: 0.2rem;
  background-color: var(--window-three-thin-fade-bars);
  top: 2.35rem;
  left: -0.25rem;
  filter: drop-shadow(0 -0.5rem 0.25rem var(--window-three-fade-bars));
}

.window-three-fade-bar-four::after {
  position: absolute;
  content: "";
  width: 1.8rem;
  height: 0.17rem;
  box-shadow: 0 0.005rem 0.5rem 0.1rem var(--window-three-bg),
    0 0.01rem 0.4rem 0.05rem var(--train-top-shine),
    inset 0 0 0.5rem 0.15rem var(--window-three-bg);
  left: 5.7rem;
  top: 2.37rem;
}

.window-three-fade-bar-two::before,
.window-three-fade-bar-two::after {
  position: absolute;
  content: "";
  width: 0.005rem;
  background-color: var(--window-three-bg);
  filter: blur(0.02rem);
}

.window-three-fade-bar-two::before {
  transform: rotate(-55deg);
  height: 8.8rem;
  left: -0.25rem;
  top: -1.5rem;
}

.window-three-fade-bar-two::after {
  transform: rotate(47deg);
  height: 9.2rem;
  left: -0.5rem;
  top: -2.2rem;
}

.door-one-edge {
  position: absolute;
  width: 0.45rem;
  height: 17.05rem;
  background-color: var(--door-one-edge);
  left: 51.75rem;
  top: 0.45rem;
  z-index: 1;
}

.door-one-edge::before {
  position: absolute;
  content: "";
  width: 0.33rem;
  height: 0.8rem;
  background-color: var(--door-one-yellow);
  top: 10.35rem;
  left: -0.32rem;
}

.door-one-body {
  position: absolute;
  height: 17.1rem;
  border-top: 0.45rem solid transparent;
  border-bottom: 0.45rem solid transparent;
  border-left: 4.6rem solid var(--door-one-bg);
  left: 52.15rem;
  top: 0.42rem;
  z-index: 1;
}

.door-one-window {
  position: absolute;
  width: 3.1rem;
  height: 3.8rem;
  background-color: var(--door-one-window-bg);
  border-radius: 0.4rem;
  transform: skewY(2.5deg);
  /* border-top: 0.45rem solid transparent;
  border-bottom: 0.45rem solid transparent;
  border-left: 4.6rem solid var(--door-one-bg); */
  left: -3.9rem;
  top: 0.6rem;
  border-right: 0.05rem solid rgba(0, 0, 0, 0.2);
}

.door-one-window::before {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 3.57rem;
  border-top: 0.25rem solid var(--window-stroke);
  border-bottom: 0.2rem solid var(--window-stroke);
  border-right: 0.15rem solid var(--window-stroke);
  border-radius: 0.4rem;
}

.door-one-window::after {
  position: absolute;
  content: "";
  width: 0.35rem;
  height: 3.3rem;
  background-color: var(--door-one-edge);
  left: 2.68rem;
  top: 0.5rem;
}

.part-two {
  top: 3.65rem;
  transform: scaleY(-1);
}

.door-one-window-back::after {
  position: absolute;
  content: "";
  width: 2.87rem;
  height: 0.4rem;
  background-color: var(--window-stroke);
  top: 2.5rem;
  left: -2.1rem;
}

.door-one-window-back,
.door-one-window-back::before,
.door-one-remaining {
  position: absolute;
  width: 0.1rem;
  box-shadow: 0.001rem 0 0.01rem 0.001rem rgba(0, 0, 0, 0.2),
    -0.0005rem 0 0.002rem 0.001rem rgba(0, 0, 0, 0.05),
    inset -0.005rem 0 0.02rem 0.001rem rgb(255 255 255 / 10%);
}

.door-one-window-back {
  background-color: var(--door-one-bg);
  height: 6.3rem;
  left: -1.8rem;
  top: 0.9rem;
}

.door-one-window-back::before {
  content: "";
  height: 0.47rem;
  background-color: var(--door-one-bg);
  top: -1.55rem;
}

.door-one-handler {
  position: absolute;
  width: 0.5rem;
  height: 0.65rem;
  background-color: var(--door-one-handler);
  box-shadow: inset 0.1rem 0rem 0.07rem 0.05rem #696142,
    -0.05rem 0 0.05rem 0.007rem rgba(0, 0, 0, 0.3);
  border-radius: 45%;
  top: 8.2rem;
  left: -4.22rem;
}

.door-one-handler::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 1.5rem;
  border-radius: 0.25rem;
  background: radial-gradient(
    ellipse at 0rem 0.01rem,
    #5b5d47,
    var(--door-one-handler)
  );
  box-shadow: 0 0.05rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
  top: 0.17rem;
  left: 0.22rem;
}

.door-one-handler::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 0.8rem 0.15rem var(--train-shine);
  top: 1.8rem;
  left: 0.2rem;
}

.door-one-remaining {
  background-color: var(--divider);
  height: 0.73rem;
  top: 16.39rem;
  left: -1.8rem;
}

.door-one-remaining::after {
  position: absolute;
  content: "";
  width: 2.8rem;
  height: 6.5rem;
  transform: skewY(5deg);
  top: -6.9rem;
  left: -1.1rem;
  background: #1f181826;
  filter: blur(0.25rem);
}

.door-one {
  position: absolute;
  z-index: 2;
}

.door-two-frame {
  position: absolute;
  width: 7rem;
  height: 16.38rem;
  background-color: var(--door-two-frame);
  left: 56.1rem;
  top: 0.8rem;
  z-index: 1;
}

.door-two-frame::before {
  content: "";
  position: absolute;
  width: 7rem;
  height: 15.62rem;
  background-image: linear-gradient(
    to bottom,
    var(--door-two-bg-one),
    var(--door-two-bg-two)
  );
  top: 0.4rem;
}

.door-two-body {
  position: absolute;
  width: 6.15rem;
  height: 14.85rem;
  border: 0.1rem solid;
  border-image: linear-gradient(
      var(--door-two-border-one),
      var(--door-two-border-two)
    )
    1;
  top: 0.65rem;
  left: 0.5rem;
}

.door-two-body::before {
  position: absolute;
  content: "";
  width: 0.1rem;
  height: 0.1rem;
  color: var(--door-two-bg-one);
  box-shadow: 0.5rem 0, 0.6rem 0, 3.2rem 0, 3.3rem 0, 5.5rem 0, 5.6rem 0,
    5.95rem 0.8rem, 5.95rem 0.9rem, 5.95rem 2.7rem, 5.95rem 2.8rem,
    5.95rem 4.7rem, 5.95rem 4.8rem, 5.95rem 7rem, 5.95rem 7.1rem, 5.95rem 9.3rem,
    5.95rem 9.4rem, 5.95rem 11.5rem var(--door-two-bg-two),
    5.95rem 11.6rem var(--door-two-bg-two),
    5.95rem 13.7rem var(--door-two-bg-two),
    5.95rem 13.8rem var(--door-two-bg-two),
    5.6rem 14.75rem var(--door-two-bg-two),
    5.5rem 14.75rem var(--door-two-bg-two),
    3.3rem 14.75rem var(--door-two-bg-two),
    3.2rem 14.75rem var(--door-two-bg-two),
    0.6rem 14.75rem var(--door-two-bg-two),
    0.5rem 14.75rem var(--door-two-bg-two);
  top: -0.1rem;
}

.door-two-window {
  position: absolute;
  width: 3.7rem;
  height: 6.3rem;
  border: 0.2rem solid var(--window-stroke);
  border-radius: 0.6rem;
  background-color: var(--door-two-window-bg);
  left: 1.2rem;
  top: 0.7rem;
  box-shadow: 0 0 0.03rem 0.001rem #696a4d;
}

.door-two-window-bar-one {
  position: absolute;
  width: 3.4rem;
  height: 0.45rem;
  background-color: var(--window-stroke);
  top: 2.4rem;
  left: -0.05rem;
  filter: drop-shadow(0px -1.55rem 0.3rem rgba(0, 0, 0, 0.2));
}

.door-two-window-bar-two {
  position: absolute;
  width: 3.4rem;
  height: 0.17rem;
  background-color: var(--window-stroke);
  top: 5.15rem;
  left: -0.05rem;
  filter: drop-shadow(0px -0.5rem 0.15rem rgba(0, 0, 0, 0.2));
}

.door-two-window-bar-three {
  position: absolute;
  height: 5.9rem;
  width: 0.2rem;
  background-color: var(--window-stroke);
  left: 1.52rem;
}

.door-two-handler {
  position: absolute;
  width: 0.55rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: var(--door-two-handler);
  top: 7.6rem;
  left: 0.45rem;
}

.door-two-handler::after {
  position: absolute;
  content: "";
  height: 0.3rem;
  width: 1.5rem;
  background-color: var(--door-two-handler);
  border-radius: 0.25rem;
  box-shadow: 0 0 0.01rem 0.01rem rgba(0, 0, 0, 0.2);
  top: 0.15rem;
  left: 0.2rem;
}

.train-side-handler,
.train-side-handler::before {
  position: absolute;
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 50%;
  background-color: var(--door-one-handler);
}

.train-side-handler {
  left: 64.7rem;
  top: 7.7rem;
  box-shadow: 0 -0.01rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
}

.train-side-handler::before {
  content: "";
  top: 2rem;
  box-shadow: 0 -0.01rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2),
    inset 0 0 0.1rem 0.2rem rgba(236, 256, 256, 0.2);
}

.train-side-handler::after {
  position: absolute;
  content: "";
  width: 0.3rem;
  height: 2.3rem;
  background-image: radial-gradient(
    ellipse at -0.1rem 0.5rem,
    #5b5d47,
    var(--door-one-handler)
  );
  border-radius: 0.25rem;
  left: 0.17rem;
  top: 0.17rem;
  box-shadow: 0 0 0.05rem 0.01rem rgba(0, 0, 0, 0.2),
    inset 0 -0.1rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2),
    0 0 1.2rem 0.6rem rgba(0, 0, 0, 0.2);
}

.train-shine-two {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.1rem;
  background-color: var(--train-shine);
  box-shadow: 0 0 1.5rem 0.5rem var(--train-shine);
  top: 13.5rem;
  left: 69.5rem;
  filter: blur(0.15rem);
}

.window-four,
.window-five,
.window-six {
  position: absolute;
  width: 9.8rem;
  height: 7.5rem;
  background-image: linear-gradient(
    to bottom,
    var(--window-four-bg-one),
    var(--window-four-bg-two)
  );
  border: solid var(--window-three-stroke);
  border-width: 0.35rem 0.25rem 0.35rem 0.45rem;
  border-radius: 1.3rem;
  top: 1.5rem;
}

.window-four {
  left: 67.8rem;
  box-shadow: -0.01rem 0 0.1rem 0.01rem rgb(255 255 255 / 10%),
    0.1rem 0 0.2rem 0.01rem #514320;
}

.window-four-details {
  position: absolute;
  transform: scaleX(-1);
  left: 8.85rem;
}

.window-four-handler {
  position: absolute;
  width: 0.25rem;
  height: 1.32rem;
  background-color: var(--window-four-handler);
  border-radius: 0.2rem;
  top: 3.7rem;
  left: 6.55rem;
  box-shadow: inset 0.1rem 0 0.1rem 0.01rem rgba(0, 0, 0, 0.2),
    0.01rem 0 0.01rem 0.01rem rgba(0, 0, 0, 0.2);
}

.window-five {
  left: 82.5rem;
  box-shadow: -0.01rem 0 0.1rem 0.01rem rgb(255 255 255 / 10%),
    0.1rem 0 0.1rem 0.01rem #6b582d, 0.15rem 0 0.01rem 0.1rem rgba(0, 0, 0, 0.2);
}

.window-five::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #644921;
  opacity: 0.3;
  border-radius: 1.1rem;
}

.window-five-details {
  position: absolute;
  transform: scaleX(-1) scaleX(0.93);
  left: 9.35rem;
  top: -0.4rem;
}

.window-six {
  border-width: 0.35rem 0.35rem 0.35rem 0.25rem;
  left: 97.8rem;
  box-shadow: -0.01rem 0 0.1rem 0.01rem rgb(255 255 255 / 10%),
    inset 0.1rem 0 0.1rem 0.05rem #5f4815,
    0.15rem 0 0.01rem 0.1rem rgba(0, 0, 0, 0.2);
}

.window-six-details {
  position: absolute;
  transform: scaleX(-1) scaleX(0.63) scaleY(0.97);
  left: 5.75rem;
  top: 0.15rem;
}
