:root {
  --floor: #aa954a;
  --trolley: #4b5242;
  --cage-one: #3d473e;
  --cage-two: #a26308;
  --wall: #8a6b2f;
  --wall-side: #af903d;
  --brick: #774f20;
  --brick-side: #ab7d30;
  --brick-mark-one: #5e3a15;
  --train: #773115;
  --train-yellow-lines: #cd9214;
  --train-top-line: #858661;
  --train-top-line-shadow: #dfe3db;
  --train-top-two: #636243;
  --train-top-two-shadow: #949c7d;
  --train-top-three: #524d31;
  --train-top-three-shadow: #a39f70;
  --train-top-shine: #cdc799;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.platform {
  position: relative;
  /* width: 100rem;
  height: 58rem; */
  /* display: flex; */
  /* background-color: green; */
}

.container {
  position: absolute;
}

.floor {
  align-self: flex-end;
  position: absolute;
  background-color: var(--floor);
  width: 100vw;
  height: 18rem;
}

.trolley {
  position: absolute;
  width: 17rem;
  height: 0.9rem;
  background-color: var(--trolley);
  transform: rotate(-9deg) skew(-9deg);
  left: 9rem;
  top: 9rem;
}

.trolley::before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 0.9rem;
}

.wall-left {
  position: absolute;
  width: 12rem;
  height: 48rem;
  background-image: linear-gradient(
    to right,
    var(--wall) 27%,
    var(--wall-side) 105%
  );
  filter: blur(0.049rem);
  z-index: 2;
}

.wall-left::before {
  content: "";
  position: absolute;
  /* width: 1.5rem; */
  height: 47rem;
  /* background-color: var(--wall-side); */
  border-left: 2.5rem solid var(--wall-side);
  border-bottom: 1rem solid transparent;
  left: 12rem;
  box-shadow: inset -1rem 1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.wall-left::after {
  content: "";
  position: absolute;
  width: 12rem;
  height: 48rem;
  background-color: transparent;
  box-shadow: inset -0.5rem 0rem 1.5rem 0.2rem rgba(0, 0, 0, 0.1),
    0.1rem 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.brick-one {
  position: absolute;
  width: 4rem;
  height: 2.4rem;
  background-color: var(--brick);
  border-radius: 0.25rem;
  top: 33rem;
  left: 5.5rem;
  box-shadow: -0.1rem 0.1rem 0.25rem 0.1rem rgba(0, 0, 0, 0.2);
}

.brick-two {
  position: absolute;
  width: 3.9rem;
  height: 2.3rem;
  background-color: var(--brick);
  border-radius: 0.25rem;
  box-shadow: -0.1rem 0.1rem 0.25rem 0.1rem rgba(0, 0, 0, 0.2);
  top: 29.7rem;
  left: 7rem;
}

.brick-three {
  position: absolute;
  width: 1.67rem;
  height: 1.7rem;
  background-color: var(--brick-side);
  border-radius: 0 0.3rem 0.3rem 0;
  box-shadow: inset 0.05rem 0 0.1rem 0.01rem rgba(0, 0, 0, 0.2),
    -0.01rem 0.01rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
  transform: skewY(-9deg);
  left: 12.688rem;
  top: 24rem;
}

.brick-three::before {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 1.7rem;
  background-image: linear-gradient(
    to left,
    var(--brick-side) -38%,
    var(--brick) 131%
  );
  /* box-shadow: 0.05rem 0 0.1rem 0.01rem rgba(0, 0, 0, 0.2); */
  transform: skewY(22deg);
  left: -0.01rem;
  border-radius: 0.05rem 0 0 0.05rem;
}

.brick-four {
  position: absolute;
  width: 2.1rem;
  height: 1.9rem;
  /* background-color: var(--brick); */
  background-image: linear-gradient(
    to right,
    var(--brick) 37%,
    var(--brick-side)
  );
  top: 22.1rem;
  left: 10.2rem;
  border-radius: 0.25rem 0 0 0.25rem;
  z-index: 1;
  box-shadow: -0.1rem 0.07rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
}

.brick-four::before {
  position: absolute;
  content: "";
  width: 1.75rem;
  height: 1.9rem;
  background-color: var(--brick-side);
  transform: skewY(-9deg);
  border-radius: 0 0.25rem 0.25rem 0;
  box-shadow: inset 0.05rem 0 0.1rem 0.01rem rgba(0, 0, 0, 0.2),
    -0.01rem 0.01rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
  left: 2.1rem;
  top: -0.12rem;
}

.brick-four::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 0.3rem;
  color: var(--brick-mark-one);
  background-color: var(--brick-mark-one);
  box-shadow: 1.52rem 0rem, 0.7rem 0.5rem, 1rem 0.5rem, 0.5rem 0.5rem,
    1.5rem 1rem, 1rem 1.5rem, 1.7rem 1.5rem;
  filter: blur(0.1rem);
}

.brick-five {
  position: absolute;
  width: 3.2rem;
  height: 1.5rem;
  /* background-color: var(--brick); */
  background-image: linear-gradient(
    to right,
    var(--brick) 10%,
    var(--brick-side) 142%
  );
  top: 16rem;
  left: 9.3rem;
  border-radius: 0.25rem 0 0 0.25rem;
  z-index: 1;
  box-shadow: -0.1rem 0.1rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
}

.brick-five::after {
  content: "";
  position: absolute;
  width: 0.9rem;
  height: 1.55rem;
  background-color: var(--brick-side);
  border-radius: 0 0.25rem 0.25rem 0;
  transform: skewY(-9deg);
  box-shadow: inset 0.01rem 0rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2),
    0rem 0.01rem 0.01rem 0.01rem rgba(0, 0, 0, 0.2);
  left: 3.1rem;
  top: -0.05rem;
}

.brick-six,
.brick-seven {
  position: absolute;
  width: 3.6rem;
  height: 1.8rem;
  background-color: var(--brick);
  border-radius: 0.25rem;
  box-shadow: -0.1rem 0.1rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
}

.brick-six {
  top: 13.5rem;
  left: 6.8rem;
}

.brick-seven {
  top: 11.3rem;
  left: 7.8rem;
}

.brick-eight {
  position: absolute;
  width: 4.1rem;
  height: 3.9rem;
  background-color: var(--brick);
  left: 8.5rem;
  top: 7.6rem;
  border-radius: 0.25rem 0 0 0.25rem;
  z-index: 1;
  box-shadow: -0.1rem 0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.25),
    inset 0rem 0.15rem 0.2rem 0.01rem rgb(255 255 255 / 10%);
}

.brick-eight::before {
  position: absolute;
  content: "";
  width: 3.1rem;
  height: 3.9rem;
  background-color: var(--brick-side);
  transform: skewY(-9deg);
  left: 4.1rem;
  top: -0.3rem;
  border-radius: 0 0.25rem 0.25rem 0;
}

.brick-eight::after {
  content: "";
  position: absolute;
  width: 3rem;
  border-left: 0.7rem solid transparent;
  border-right: 0.5rem solid var(--brick);
  border-bottom: 0.7rem solid var(--brick);
  top: -0.6rem;
  left: -0.1rem;
}

.brick-line {
  position: absolute;
  width: 4.1rem;
  height: 0.05rem;
  background-color: rgba(0, 0, 0);
  top: 2.1rem;
  filter: blur(0.05rem);
}

.brick-line::after {
  position: absolute;
  content: "";
  width: 3.1rem;
  height: 0.05rem;
  background-color: rgba(0, 0, 0);
  transform: skewY(-9deg);
  left: 4.07rem;
  top: -0.25rem;
}

.bricks-left {
  position: absolute;
  top: 7rem;
}

.train {
  position: absolute;
  width: 110rem;
  height: 15rem;
  background-color: var(--train);
  top: 22rem;
}

.train::before,
.train::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.7rem;
  background-color: var(--train-yellow-lines);
}

.train::before {
  top: 8rem;
}

.train::after {
  top: -0.5rem;
}

.train-top {
  position: absolute;
  width: 110rem;
}

.train-top-line {
  position: absolute;
  width: 110rem;
  height: 0.5rem;
  background-image: linear-gradient(
    to right,
    var(--train-top-line-shadow) -100%,
    var(--train-top-line) 31%,
    var(--train-top-line-shadow) 37%,
    var(--train-top-line) 42%,
    var(--train-top-line) 56%,
    var(--train-top-line-shadow) 64%,
    var(--train-top-line) 72%
  );
  z-index: 1;
  top: 21.1rem;
}

.train-top-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.8rem;
  background-image: linear-gradient(
    to right,
    var(--train-top-two) 30%,
    var(--train-top-two-shadow),
    var(--train-top-two) 30%,
    var(--train-top-two-shadow) 58%,
    var(--train-top-two) 76%
  );
  top: -2.8rem;
}

.train-top-line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.3rem;
  background-image: linear-gradient(
    to right,
    var(--train-top-three) 36%,
    var(--train-top-three-shadow) 61%,
    var(--train-top-three) 100%,
    var(--train-top-three-shadow)
  );
  top: -5rem;
}

.train-top-bolt {
  position: absolute;
  width: 0.8rem;
  height: 0.9rem;
  border-radius: 0.1rem;
  background-color: var(--train-top-line);
  z-index: 1;
  box-shadow: 0.05rem 0.06rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
  top: 20.9rem;
  left: 6rem;
}

.train-top-bolt:nth-child(2):before,
.train-top-bolt:nth-child(3):before,
.train-top-bolt:nth-child(4):before,
.train-top-bolt:nth-child(5)::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 2.9rem;
  transform: skewX(-14deg);
  background-color: var(--train-top-line);
  top: -2.83rem;
  left: 0.35rem;
  box-shadow: 0.05rem 0rem 0.01rem 0.01rem rgba(0, 0, 0, 0.2);
}

.train-top-bolt:nth-child(9):before,
.train-top-bolt:nth-child(6):before,
.train-top-bolt:nth-child(7):before,
.train-top-bolt:nth-child(8)::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 2.9rem;
  transform: skewX(-5deg);
  background-color: var(--train-top-line);
  top: -2.83rem;
  left: 0.12rem;
  box-shadow: 0.05rem 0rem 0.01rem 0.01rem rgba(0, 0, 0, 0.2);
}

.train-top-bolt:nth-child(6)::before {
  transform: skewX(-9deg);
  left: 0.2rem;
}

.train-top-bolt:nth-child(9):before {
  transform: skewX(0deg);
  left: 0;
}

.train-top-bolt:nth-child(10):before,
.train-top-bolt:nth-child(11):before,
.train-top-bolt:nth-child(12):before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 2.9rem;
  transform: skewX(10deg);
  background-color: var(--train-top-line);
  top: -2.83rem;
  left: -0.25rem;
  box-shadow: 0.05rem 0rem 0.01rem 0.01rem rgba(0, 0, 0, 0.2);
}

.train-top-bolt:nth-child(2):after,
.train-top-bolt:nth-child(3):after,
.train-top-bolt:nth-child(4):after,
.train-top-bolt:nth-child(5):after {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 2.2rem;
  transform: skewX(-23deg);
  background-color: var(--train-top-two);
  top: -5.02rem;
  left: 1.15rem;
  box-shadow: 0.1rem 0rem 0.2rem 0.005rem rgb(134 135 99);
}

.train-top-bolt:nth-child(6):after,
.train-top-bolt:nth-child(7):after,
.train-top-bolt:nth-child(8):after,
.train-top-bolt:nth-child(9):after {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 2.2rem;
  background-color: var(--train-top-two);
  transform: skewX(-5deg);
  top: -5.02rem;
  left: 0.37rem;
  box-shadow: 0rem 0rem 0.1rem 0.005rem rgb(134 135 99);
}

.train-top-bolt:nth-child(6):after {
  transform: skewX(-11deg);
  left: 0.65rem;
}

.train-top-bolt:nth-child(9):after {
  transform: skewX(0deg);
  left: 0;
}

.train-top-bolt:nth-child(10):after,
.train-top-bolt:nth-child(11):after,
.train-top-bolt:nth-child(12):after {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 2.2rem;
  transform: skewX(15deg);
  background-color: var(--train-top-two);
  top: -5.02rem;
  left: -0.75rem;
  box-shadow: -0.1rem 0rem 0.2rem 0.005rem rgb(134 135 99);
}

.train-top-bolt:nth-child(7)::after,
.train-top-bolt:nth-child(8)::after,
.train-top-bolt:nth-child(9)::after {
  background-color: var(--train-top-three-shadow);
}

.tiny-part-right,
.tiny-part-left {
  position: absolute;
  width: 1rem;
  height: 0.3rem;
  background-color: inherit;
  top: -5.03rem;
}

.tiny-part-right {
  left: 1.9rem;
  border-radius: 0 81% 0 0;
}

.tiny-part-left {
  left: -1.6rem;
  border-radius: 81% 0 0 0;
  background-color: var(--train-top-two);
}

/* .train-top-bolt:nth-child(5)::before,
.train-top-bolt:nth-child(8)::before,
.train-top-bolt:nth-child(9)::before {
  box-shadow: inset 0rem 0rem 0.9rem 0.05rem var(--train-top-line-shadow);
} */

.bolt-one {
  left: 17rem;
  /* left: 40%; */
}

.bolt-two {
  left: 25rem;
}

.bolt-three {
  left: 33rem;
}

.bolt-four {
  left: 41rem;
  /* box-shadow: inset 0rem 0rem 0.9rem 0.05rem var(--train-top-line-shadow); */
}

.bolt-five {
  left: 49rem;
}

.bolt-six {
  left: 57rem;
}

.bolt-seven {
  left: 65rem;
  /* box-shadow: inset 0rem 0rem 0.9rem 0.05rem var(--train-top-line-shadow); */
}

.bolt-eight {
  left: 73rem;
  /* box-shadow: inset 0rem 0rem 0.9rem 0.05rem var(--train-top-line-shadow); */
}

.bolt-nine {
  left: 81rem;
}

.bolt-ten {
  left: 89rem;
}

.bolt-eleven {
  left: 97rem;
}

.top-circle {
  position: absolute;
  z-index: 0;
  width: 3rem;
  height: 2.5rem;
  background-image: conic-gradient(
    from 147deg at 64% -6%,
    var(--train-top-line) 2%,
    var(--train-top-two) 16%,
    var(--train-top-line) 180deg
  );
  border-radius: 50%;
  top: 15rem;
}

.circle-one {
  left: 14rem;
}

.circle-two {
  left: 22rem;
}

.circle-three {
  left: 30rem;
}

.circle-four {
  left: 38rem;
}

.circle-five {
  left: 83rem;
}

.circle-six {
  left: 91rem;
}

.circle-seven {
  left: 98rem;
}

.train-top-shine,
.train-top-shine::before,
.train-top-shine::after {
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: var(--train-top-shine);
  box-shadow: 0 0 0.5rem 0.4rem var(--train-top-shine);
  z-index: 1;
}

.train-top-shine {
  top: 18.7rem;
  left: 40rem;
}

.train-top-shine::before {
  content: "";
  left: 13rem;
  top: 2rem;
}

.train-top-shine::after {
  content: "";
  left: 39rem;
  top: -2rem;
}
