:root {
  --floor: #aa954a;
  --trolley: #4b5242;
  --cage-one: #3d473e;
  --cage-two: #a26308;
  --wall: #8a6b2f;
  --wall-side: #af903d;
  --brick: #774f20;
  --brick-side: #ab7d30;
  --brick-mark-one: #5e3a15;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.platform {
  position: relative;
  width: 73rem;
  height: 58rem;
  /* display: flex; */
  background-color: red;
}

.floor {
  align-self: flex-end;
  position: absolute;
  background-color: var(--floor);
  width: 100vw;
  height: 18rem;
}

.trolley {
  position: absolute;
  width: 17rem;
  height: 0.9rem;
  background-color: var(--trolley);
  transform: rotate(-9deg) skew(-9deg);
  left: 9rem;
  top: 9rem;
}

.trolley::before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 0.9rem;
}

.wall-left {
  position: absolute;
  width: 12rem;
  height: 44rem;
  background-image: linear-gradient(
    to right,
    var(--wall) 27%,
    var(--wall-side) 105%
  );
  filter: blur(0.049rem);
}

.wall-left::before {
  content: "";
  position: absolute;
  /* width: 1.5rem; */
  height: 43.1rem;
  /* background-color: var(--wall-side); */
  border-left: 2.5rem solid var(--wall-side);
  border-bottom: 1rem solid transparent;
  left: 12rem;
  box-shadow: inset -1rem 1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.wall-left::after {
  content: "";
  position: absolute;
  width: 12rem;
  height: 44rem;
  background-color: transparent;
  box-shadow: inset -0.5rem 0rem 1.5rem 0.2rem rgba(0, 0, 0, 0.1),
    0.1rem 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.brick-one {
  position: absolute;
  width: 4rem;
  height: 2.4rem;
  background-color: var(--brick);
  border-radius: 0.25rem;
  top: 33rem;
  left: 5.5rem;
  box-shadow: -0.1rem 0.1rem 0.25rem 0.1rem rgba(0, 0, 0, 0.2);
}

.brick-two {
  position: absolute;
  width: 3.9rem;
  height: 2.3rem;
  background-color: var(--brick);
  border-radius: 0.25rem;
  box-shadow: -0.1rem 0.1rem 0.25rem 0.1rem rgba(0, 0, 0, 0.2);
  top: 29.7rem;
  left: 7rem;
}

.brick-three {
  position: absolute;
  width: 1.67rem;
  height: 1.7rem;
  background-color: var(--brick-side);
  border-radius: 0 0.3rem 0.3rem 0;
  box-shadow: inset 0.05rem 0 0.1rem 0.01rem rgba(0, 0, 0, 0.2),
    -0.01rem 0.01rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
  transform: skewY(-9deg);
  left: 12.688rem;
  top: 24rem;
}

.brick-three::before {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 1.7rem;
  background-image: linear-gradient(
    to left,
    var(--brick-side) -38%,
    var(--brick) 131%
  );
  /* box-shadow: 0.05rem 0 0.1rem 0.01rem rgba(0, 0, 0, 0.2); */
  transform: skewY(22deg);
  left: -0.01rem;
  border-radius: 0.05rem 0 0 0.05rem;
}

.brick-four {
  position: absolute;
  width: 2.1rem;
  height: 1.9rem;
  /* background-color: var(--brick); */
  background-image: linear-gradient(
    to right,
    var(--brick) 37%,
    var(--brick-side)
  );
  top: 22.1rem;
  left: 10.2rem;
  border-radius: 0.25rem 0 0 0.25rem;
  z-index: 1;
  box-shadow: -0.1rem 0.07rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
}

.brick-four::before {
  position: absolute;
  content: "";
  width: 1.75rem;
  height: 1.9rem;
  background-color: var(--brick-side);
  transform: skewY(-9deg);
  border-radius: 0 0.25rem 0.25rem 0;
  box-shadow: inset 0.05rem 0 0.1rem 0.01rem rgba(0, 0, 0, 0.2),
    -0.01rem 0.01rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
  left: 2.1rem;
  top: -0.12rem;
}

.brick-four::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 0.3rem;
  color: var(--brick-mark-one);
  background-color: var(--brick-mark-one);
  box-shadow: 1.52rem 0rem, 0.7rem 0.5rem, 1rem 0.5rem, 0.5rem 0.5rem,
    1.5rem 1rem, 1rem 1.5rem, 1.7rem 1.5rem;
  filter: blur(0.1rem);
}

.brick-five {
  position: absolute;
  width: 3.2rem;
  height: 1.5rem;
  /* background-color: var(--brick); */
  background-image: linear-gradient(
    to right,
    var(--brick) 10%,
    var(--brick-side) 142%
  );
  top: 16rem;
  left: 9.3rem;
  border-radius: 0.25rem 0 0 0.25rem;
  z-index: 1;
  box-shadow: -0.1rem 0.1rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
}

.brick-five::after {
  content: "";
  position: absolute;
  width: 0.9rem;
  height: 1.55rem;
  background-color: var(--brick-side);
  border-radius: 0 0.25rem 0.25rem 0;
  transform: skewY(-9deg);
  box-shadow: inset 0.01rem 0rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2),
    0rem 0.01rem 0.01rem 0.01rem rgba(0, 0, 0, 0.2);
  left: 3.1rem;
  top: -0.05rem;
}

.brick-six,
.brick-seven {
  position: absolute;
  width: 3.6rem;
  height: 1.8rem;
  background-color: var(--brick);
  border-radius: 0.25rem;
  box-shadow: -0.1rem 0.1rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
}

.brick-six {
  top: 13.5rem;
  left: 6.8rem;
}

.brick-seven {
  top: 11.3rem;
  left: 7.8rem;
}
