:root {
  --skin: #fad7bb;
  --clothing-one: #fbd858;
  --clothing-two: #c40f3c;
  --shoes: #acc9e9;
  --button: #ece636;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stewie {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  position: absolute;
  width: 527px;
  height: 375px;
  background-color: var(--skin);
  border-radius: 50%;
  z-index: -4;
  left: 260px;
  top: 11px;
  transform: rotate(9deg);
  border: 2px solid var(--black);
}

.head-top-part {
  position: absolute;
  width: 181px;
  height: 234px;
  border: 2px solid;
  border-color: transparent transparent transparent var(--black);
  top: 27px;
  left: 257px;
  border-radius: 50% 20% 50% 50%/100% 50% 40% 65%;
  transform: rotate(49deg);
  background-color: var(--skin);
  z-index: -3;
}

.head-top-part::after {
  content: "";
  position: absolute;
  width: 181px;
  height: 234px;
  border: 2px solid;
  border-color: transparent transparent transparent var(--black);
  top: -232px;
  left: 258px;
  border-radius: 50% 20% 50% 50%/100% 50% 40% 65%;
  transform: scaleX(-1) rotate(79deg);
  background-color: var(--skin);
  z-index: -3;
}

.head-bottom-part {
  position: absolute;
  width: 183px;
  height: 259px;
  border: 2px solid;
  border-color: transparent var(--black) transparent transparent;
  top: 77px;
  left: 258px;
  border-radius: 20% 50% 50% 50%/50% 100% 65% 40%;
  transform: rotate(144deg);
  background-color: var(--skin);
  z-index: -4;
}

.head-bottom-part::after {
  content: "";
  position: absolute;
  width: 183px;
  height: 229px;
  border: 2px solid;
  border-color: transparent var(--black) transparent transparent;
  top: -225px;
  left: -246px;
  border-radius: 20% 50% 50% 50%/50% 100% 65% 40%;
  transform: scaleX(-1) rotate(-84deg);
  background-color: var(--skin);
  z-index: -4;
}

.eye {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--black);
}

.eye::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--black);
  left: 21px;
  top: 5px;
}

.eye::after {
  content: "";
  position: absolute;
  width: 96px;
  height: 36px;
  border: 2px solid;
  border-color: var(--black) transparent transparent transparent;
  background-color: var(--skin);
  border-radius: 54% 54% 0% 0%/16%;
  z-index: -1;
  top: 63px;
  left: -2px;
}

.eye-left {
  top: 150px;
  left: 350px;
}

.eye-right {
  top: 175px;
  left: 630px;
}

.eyebrow-left {
  position: absolute;
  width: 84px;
  border: 2px solid;
  border-color: var(--black) transparent transparent transparent;
  top: 128px;
  left: 367px;
  transform: rotate(27deg);
}

.eyebrow-right {
  position: absolute;
  width: 84px;
  border: 2px solid;
  border-color: var(--black) transparent transparent transparent;
  top: 153px;
  left: 644px;
  transform: rotate(-16deg);
}

.nose {
  position: absolute;
  width: 43px;
  border: 2px solid;
  border-color: var(--black) transparent transparent transparent;
  top: 253px;
  left: 533px;
  transform: rotate(64deg);
}

.nose::after {
  content: "";
  position: absolute;
  border: 2px solid;
  width: 25px;
  height: 25px;
  border-color: transparent transparent transparent var(--black);
  top: -3px;
  left: 17px;
  transform: rotate(170deg);
  border-radius: 31% 3% 43% 40%/66% 0% 49% 70%;
}

.mouth {
  position: absolute;
  width: 79px;
  height: 30px;
  border: 2px solid;
  border-color: transparent transparent var(--black) transparent;
  border-radius: 0 0 38% 65%/0 0 27% 92%;
  top: 286px;
  left: 491px;
  transform: rotate(8deg);
}

.mouth::before {
  content: "";
  position: absolute;
  height: 20px;
  border-left: 2px solid var(--black);
  top: 6px;
  left: 66px;
  transform: rotate(-42deg);
}

.mouth::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 20px;
  border: 2px solid;
  border-color: transparent var(--black) transparent transparent;
  border-radius: 0 16% 22% 0/0 7% 87% 0;
  top: 12px;
  left: 20px;
  transform: rotate(41deg);
}
