:root {
  --skin: #fad7bb;
  --clothing-one: #fbd858;
  --clothing-two: #c40f3c;
  --shoes: #acc9e9;
  --button: #ece636;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stewie {
  position: relative;
  height: 100vh;
}

.head {
  position: absolute;
  width: 410px;
  height: 271px;
  border-radius: 100%/100%;
  background-color: var(--skin);
  border: 1px solid var(--black);
}

.head-top-part {
  position: absolute;
  width: 183px;
  height: 259px;
  border: 1px solid;
  border-color: transparent transparent transparent var(--black);
  top: 2px;
  left: -13px;
  border-radius: 50% 20% 50% 50%/100% 50% 40% 65%;
  transform: rotate(50deg);
  background-color: var(--skin);
}

.head-top-part::after {
  content: "";
  position: absolute;
  width: 183px;
  height: 259px;
  border: 1px solid;
  border-color: transparent transparent transparent var(--black);
  top: -197px;
  left: 160px;
  border-radius: 50% 20% 50% 50%/100% 50% 40% 65%;
  transform: scaleX(-1) rotate(102deg);
  background-color: var(--skin);
}

.head-bottom-part {
  position: absolute;
  width: 183px;
  height: 259px;
  border: 1px solid;
  border-color: transparent var(--black) transparent transparent;
  top: 18px;
  left: -12px;
  border-radius: 20% 50% 50% 50%/50% 100% 65% 40%;
  transform: rotate(124deg);
}

.head-bottom-part::after {
  content: "";
  position: absolute;
  width: 183px;
  height: 259px;
  border: 1px solid;
  border-color: transparent var(--black) transparent transparent;
  top: -209px;
  left: -145px;
  border-radius: 20% 50% 50% 50%/50% 100% 65% 40%;
  transform: scaleX(-1) rotate(249deg);
}
