:root {
  --bg: #81e797;
  --skin: #ffdcc8;
  --cheek: #ff8b9e;
  --collar: #ff0100;
  --ear-inner: #ee9d6f;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.dracula {
  position: relative;
  height: 45vh;
}

.eye {
  position: absolute;
  width: 10.9rem;
  height: 10.5rem;
  border-radius: 50%;
  background-color: var(--black);
  left: -9rem;
}

.eye::before {
  content: "";
  position: absolute;
  width: 8.7rem;
  height: 8.4rem;
  background-color: var(--white);
  border-radius: 50%;
  left: 1.6rem;
  top: 1.6rem;
}

.eye::after {
  content: "";
  position: absolute;
  width: 7.7rem;
  height: 7.5rem;
  border-radius: 50%;
  background-color: var(--black);
  left: 2.9rem;
  top: 2.2rem;
}

.eye-inner {
  position: absolute;
  width: 2.3rem;
  height: 1.15rem;
  background-color: var(--white);
  border-radius: 50%;
  top: 4rem;
  left: 2.1rem;
  z-index: 1;
}

.eye-right {
  transform: scaleX(-1);
  left: 13rem;
}

.eyebrow {
  position: absolute;
  border-bottom: 1.8rem solid var(--black);
  border-right: 5rem solid var(--black);
  border-left: 1rem solid transparent;
  top: -4rem;
  left: -5.2rem;
  transform: rotate(17deg);
}

.eyebrow::after {
  position: absolute;
  content: "";
  width: 5.6rem;
  height: 3rem;
  background-color: var(--skin);
  transform: skew(-16deg) rotate(8deg);
  top: -2.5rem;
  left: -0.28rem;
}

.eyebrow-right {
  transform: scaleX(-1) rotate(9deg);
  left: 14.2rem;
  top: -3.7rem;
}

.cheek {
  position: absolute;
  width: 5.6rem;
  height: 2.8rem;
  border-radius: 50%;
  background-color: var(--cheek);
  top: 10.5rem;
  left: -9rem;
}

.cheek-right {
  left: 18.2rem;
}

.nose {
  position: absolute;
  width: 2rem;
  height: 1.7rem;
  background-color: var(--black);
  border-radius: 50%;
  left: 6.5rem;
  top: 8.9rem;
  z-index: 2;
}

.nose::after {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 1.5rem;
  background-color: var(--skin);
  border-radius: 50%;
  top: 0.5rem;
  left: -0.1rem;
}

.mouth {
  position: absolute;
  width: 6.7rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--black);
  left: 4.2rem;
  top: 9.2rem;
}

.mouth::after {
  content: "";
  position: absolute;
  width: 8.1rem;
  height: 3rem;
  background-color: var(--skin);
  left: -0.7rem;
  top: -0.65rem;
  border-radius: 50%;
}

.tooth {
  position: absolute;
  width: 2rem;
  height: 2.5rem;
  border: 0.35rem solid;
  border-color: transparent transparent transparent var(--black);
  border-radius: 10% 0 0 100%/10% 0 0 59%;
  background-color: var(--white);
  top: 10.7rem;
  left: 4.7rem;
  z-index: -1;
  transform: rotate(29deg);
}

.tooth::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1.7rem;
  border: 0.35rem solid;
  border-color: transparent transparent transparent var(--black);
  border-radius: 10% 0 0 50%/10% 0 0 83%;
  left: 1rem;
  top: 0.1rem;
  background-color: var(--skin);
  transform: rotate(4deg);
}

.tooth-right {
  transform: scaleX(-1) rotate(26deg);
  left: 8.4rem;
}

.head {
  position: absolute;
  width: 41.7rem;
  height: 33rem;
  border-radius: 36% 37% 46% 46%/62% 62% 62% 62%;
  background-color: var(--skin);
  border: 0.7rem solid var(--black);
  left: -13.5rem;
  top: -14.5rem;
  z-index: -2;
}
