:root {
  --bg: #81e797;
  --skin: #ffdcc8;
  --cheek: #ff8b9e;
  --collar: #ff0100;
  --ear-inner: #ee9d6f;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.dracula {
  position: relative;
  height: 45vh;
}

.eye {
  position: absolute;
  width: 10.9rem;
  height: 10.5rem;
  border-radius: 50%;
  background-color: var(--black);
  left: -9rem;
}

.eye::before {
  content: "";
  position: absolute;
  width: 8.7rem;
  height: 8.4rem;
  background-color: var(--white);
  border-radius: 50%;
  left: 1.6rem;
  top: 1.6rem;
}

.eye::after {
  content: "";
  position: absolute;
  width: 7.7rem;
  height: 7.5rem;
  border-radius: 50%;
  background-color: var(--black);
  left: 2.9rem;
  top: 2.2rem;
}

.eye-inner {
  position: absolute;
  width: 2.3rem;
  height: 1.15rem;
  background-color: var(--white);
  border-radius: 50%;
  top: 4rem;
  left: 2.1rem;
  z-index: 1;
}

.eye-right {
  transform: scaleX(-1);
  left: 13rem;
}

.eyebrow {
  position: absolute;
  border-bottom: 1.8rem solid var(--black);
  border-right: 5rem solid var(--black);
  border-left: 1rem solid transparent;
  top: -4rem;
  left: -5.2rem;
  transform: rotate(17deg);
}

.eyebrow::after {
  position: absolute;
  content: "";
  width: 5.6rem;
  height: 3rem;
  background-color: var(--skin);
  transform: skew(-16deg) rotate(8deg);
  top: -2.5rem;
  left: -0.28rem;
}

.eyebrow-right {
  transform: scaleX(-1) rotate(9deg);
  left: 14.2rem;
  top: -3.7rem;
}

.cheek {
  position: absolute;
  width: 5.6rem;
  height: 2.8rem;
  border-radius: 50%;
  background-color: var(--cheek);
  top: 10.5rem;
  left: -9rem;
}

.cheek-right {
  left: 18.2rem;
}

.nose {
  position: absolute;
  width: 2rem;
  height: 1.7rem;
  background-color: var(--black);
  border-radius: 50%;
  left: 6.5rem;
  top: 8.9rem;
  z-index: 2;
}

.nose::after {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 1.5rem;
  background-color: var(--skin);
  border-radius: 50%;
  top: 0.5rem;
  left: -0.1rem;
}

.mouth {
  position: absolute;
  width: 6.7rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--black);
  left: 4.2rem;
  top: 9.2rem;
}

.mouth::after {
  content: "";
  position: absolute;
  width: 8.1rem;
  height: 3rem;
  background-color: var(--skin);
  left: -0.7rem;
  top: -0.65rem;
  border-radius: 50%;
}

.tooth {
  position: absolute;
  width: 2rem;
  height: 2.5rem;
  border: 0.35rem solid;
  border-color: transparent transparent transparent var(--black);
  border-radius: 10% 0 0 100%/10% 0 0 59%;
  background-color: var(--white);
  top: 10.7rem;
  left: 4.7rem;
  z-index: -1;
  transform: rotate(29deg);
}

.tooth::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1.7rem;
  border: 0.35rem solid;
  border-color: transparent transparent transparent var(--black);
  border-radius: 10% 0 0 50%/10% 0 0 83%;
  left: 1rem;
  top: 0.1rem;
  background-color: var(--skin);
  transform: rotate(4deg);
}

.tooth-right {
  transform: scaleX(-1) rotate(26deg);
  left: 8.4rem;
}

.head {
  position: absolute;
  width: 35rem;
  height: 33rem;
  border-radius: 0% 0% 100% 100%/0% 0% 35% 35%;
  background-color: var(--skin);
  border: 0.7rem solid;
  border-color: transparent transparent var(--black) transparent;
  left: -10rem;
  top: -15rem;
  z-index: -2;
}

.head::before {
  content: "";
  position: absolute;
  width: 39rem;
  height: 29rem;
  border-radius: 50% 0 0 182%/100% 0 0 95%;
  border: 0.7rem solid;
  border-color: transparent transparent transparent var(--black);
  top: 3.65rem;
  left: -3.2rem;
  transform: rotate(-17deg);
}

.head::after {
  content: "";
  position: absolute;
  width: 39rem;
  height: 29rem;
  border-radius: 0 50% 182% 0/0 100% 95% 0;
  border: 0.7rem solid;
  border-color: transparent var(--black) transparent transparent;
  top: 3.75rem;
  left: -3.95rem;
  transform: rotate(17deg);
}

.collar,
.collar::before,
.collar::after {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border: 0.4rem solid var(--black);
  background-color: var(--white);
  z-index: -3;
}

.collar {
  top: 15rem;
  left: 4.5rem;
  transform: rotate(45deg);
}

.collar::before {
  content: "";
  top: 1rem;
  left: -4rem;
}

.collar::after {
  content: "";
  top: -3.9rem;
  left: 1.1rem;
}

.ear-outer {
  position: absolute;
  width: 10rem;
  height: 13rem;
  border: 0.7rem solid;
  border-color: transparent transparent transparent var(--black);
  border-radius: 54% 0 0 100%/60% 0 0 50%;
  left: -17.5rem;
  top: -2rem;
  transform: rotate(-42deg);
  z-index: -3;
}

.ear-outer::after {
  content: "";
  position: absolute;
  width: 10rem;
  height: 13rem;
  border: 0.7rem solid;
  border-color: transparent var(--black) transparent transparent;
  border-radius: 0 54% 100% 0/0 60% 50% 0;
  left: -5.9rem;
  top: -0.3rem;
  transform: rotate(-23deg);
}

.ear {
  position: absolute;
  width: 3.5rem;
  height: 8rem;
  background-color: var(--skin);
  border-radius: 56% 0 0 92%/48% 0 0 49%;
  left: -0.1rem;
  top: 2.3rem;
  transform: rotate(-3deg);
}

.ear::after {
  content: "";
  position: absolute;
  width: 1.9rem;
  height: 2.5rem;
  background-color: var(--skin);
  left: 1rem;
  top: -0.9rem;
  border-radius: 50% 0;
  transform: rotate(24deg);
}

.ear::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 7rem;
  background-color: var(--skin);
  left: 3.3rem;
  top: 0.98rem;
  border-radius: 0 50% 50% 0/0 50% 0 50%;
  transform: rotate(-3deg);
}

.ear-inner {
  position: absolute;
  width: 7rem;
  height: 7rem;
  border-radius: 56% 0 0 47%/47% 0 0 49%;
  border: 0.7rem solid;
  border-color: transparent transparent transparent var(--ear-inner);
  left: 1rem;
  top: 0.6rem;
}

.ear-inner::after {
  content: "";
  position: absolute;
  width: 7rem;
  height: 7rem;
  border-radius: 0 56% 47% 0/0 47% 49% 0;
  border: 0.7rem solid;
  border-color: transparent var(--ear-inner) transparent transparent;
  left: -6.1rem;
  top: -0.6rem;
  transform: rotate(-11deg);
}

.ear-inner::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 5rem;
  border-radius: 48%;
  background-color: var(--ear-inner);
  left: -0.3rem;
  top: 0.4rem;
  transform: rotate(-5deg);
}

.ear-outer-right {
  transform: scaleX(-1) rotate(-45deg);
  left: 22rem;
}

.head-hide {
  position: absolute;
  width: 5rem;
  height: 15rem;
  background-color: var(--skin);
  left: -11.75rem;
  top: -1.5rem;
  border-radius: 41% 0 0 50%/50% 0 0 50%;
  z-index: -2;
  transform: rotate(-5deg);
}

.head-hide::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 15rem;
  background-color: var(--skin);
  left: 33.28rem;
  top: 1.7rem;
  border-radius: 0 41% 50% 0/0 50% 50% 0;
  transform: rotate(4deg);
}

.hair {
  position: absolute;
  width: 3rem;
  height: 19rem;
  border: 0.7rem solid;
  border-color: transparent transparent transparent var(--black);
  left: -16.2rem;
  top: -15rem;
  transform: rotate(-1deg);
  z-index: -1;
  border-radius: 10% 0 0 51%/10% 0 0 77%;
}

.hair::before {
  content: "";
  position: absolute;
  width: 6rem;
  height: 11rem;
  border-radius: 88% 0 0 21%/53% 0 0 39%;
  border: 0.7rem solid;
  border-color: transparent transparent transparent var(--black);
  left: 4.2rem;
  top: 9rem;
  transform: rotate(-1deg);
}

.hair::after {
  content: "";
  position: absolute;
  width: 33rem;
  height: 41rem;
  border: 0.7rem solid;
  border-color: var(--black) transparent transparent transparent;
  border-radius: 43% 58% 0 0/94% 97% 0 0;
  left: 5.8rem;
  top: -3.85rem;
  transform: rotate(-35deg);
}

.hair-right {
  transform: scaleX(-1);
  left: 27.75rem;
  top: -15.3rem;
}

.hair-top {
  position: absolute;
  width: 31rem;
  height: 12rem;
  border: 0.7rem solid;
  border-color: var(--black) transparent transparent transparent;
  border-radius: 51% 50% 0 0/87% 50% 0 0;
  top: -23rem;
  left: -20rem;
  transform: rotate(-22deg);
}

.hair-top::after {
  content: "";
  position: absolute;
  width: 31rem;
  height: 5rem;
  border: 0.7rem solid;
  border-color: transparent var(--black) transparent transparent;
  border-radius: 50%;
  left: 2.8rem;
  top: -13rem;
  transform: rotate(50deg);
}

.hair-top::before {
  content: "";
  position: absolute;
  width: 31.5rem;
  height: 12rem;
  border: 0.7rem solid;
  border-color: var(--black) transparent transparent transparent;
  border-radius: 50%;
  left: 18.5rem;
  top: 6rem;
  transform: rotate(49deg);
}

.hair-fill {
  position: absolute;
  width: 5rem;
  height: 18rem;
  background-color: var(--black);
  left: -16rem;
  top: -15rem;
  border-radius: 10% 0 0 28%/10% 0 0 77%;
}

.hair-fill::before {
  content: "";
  position: absolute;
  width: 4.2rem;
  height: 15rem;
  background-color: var(--black);
  left: 2.2rem;
  top: -2.9rem;
}

.hair-fill::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 4rem;
  background-color: var(--black);
  left: 4rem;
  top: 11rem;
  transform: rotate(25deg);
}

.hair-fill-part-two {
  position: absolute;
  width: 2.1rem;
  height: 4.5rem;
  background-color: var(--black);
  transform: skew(24deg) rotate(11deg);
  left: -12.3rem;
  top: 2rem;
}

.hair-fill-part-two::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--black);
  left: -1rem;
  top: 0.8rem;
}

.hair-fill-part-two::after {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 2.3rem;
  background-color: var(--skin);
  border-radius: 0 50% 50% 0;
  transform: rotate(5deg);
  left: 0.1rem;
  top: 2.7rem;
}

.hair-fill-right {
  transform: scaleX(-1);
  left: 25.6rem;
  top: -14.7rem;
}

.hair-fill-part-two-right {
  transform: scaleX(-1) skew(16deg) rotate(4deg);
  left: 24.9rem;
  top: 2rem;
}

.hair-fill-part-three {
  position: absolute;
  width: 10rem;
  height: 6rem;
  background-color: var(--black);
  top: -16rem;
  left: -15.5rem;
  transform: rotate(-71deg);
}

.hair-fill-part-three::before {
  content: "";
  position: absolute;
  width: 15rem;
  height: 6rem;
  background-color: var(--black);
  top: 4rem;
  left: 4rem;
  transform: rotate(36deg);
}

.hair-fill-part-three::after {
  content: "";
  position: absolute;
  width: 15rem;
  height: 6rem;
  background-color: var(--black);
  top: 10.2rem;
  left: 6.1rem;
  transform: rotate(64deg);
}

.hair-fill-part-three-right {
  transform: scaleX(-1) rotate(-73deg);
  left: 20.4rem;
  top: -15.8rem;
}
