:root {
  --hair: #7e3803;
  --skin: #ffc5ab;
  --black: #000000;
  --white: #ffffff;
  --tongue: #d17f95;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.peter {
  position: relative;
}

.eye {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--black);
}

.eye::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--black);
  top: 14px;
  left: 9px;
  z-index: -2;
}

.eye::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 20px;
  border-top: 1px solid var(--black);
  border-radius: 60% 60% 50% 50%/34% 22% 50% 50%;
  top: 18px;
  left: 1px;
  transform: rotate(-4deg);
  background-color: var(--skin);
  z-index: -1;
}

.eye-right {
  position: absolute;
  left: 47px;
  top: -4px;
}

.glasses-bridge {
  position: absolute;
  width: 14px;
  height: 17px;
  border-radius: 100% 100% 0% 0%/42% 42% 0% 0%;
  border-top: 1px solid var(--black);
  top: 12px;
  left: 34.5px;
  transform: rotate(-5deg);
}
