:root {
  --hair: #7e3803;
  --skin: #ffc5ab;
  --black: #000000;
  --white: #ffffff;
  --tongue: #d17f95;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.peter {
  position: relative;
}

.eye {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--black);
}

.eye::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--black);
  top: 14px;
  left: 9px;
  z-index: -2;
}

.eye::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 20px;
  border-top: 1px solid var(--black);
  border-radius: 60% 60% 50% 50%/34% 22% 50% 50%;
  top: 18px;
  left: 1px;
  transform: rotate(-4deg);
  background-color: var(--skin);
  z-index: -1;
}

.eye-right {
  position: absolute;
  left: 47px;
  top: -4px;
}

.glasses-bridge {
  position: absolute;
  width: 14px;
  height: 17px;
  border-radius: 100% 100% 0% 0%/42% 42% 0% 0%;
  border-top: 1px solid var(--black);
  top: 12px;
  left: 34.5px;
  transform: rotate(-5deg);
}

.nose {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--skin);
  border: 1px solid;
  border-color: var(--black) var(--black) var(--black) transparent;
  top: 22px;
  left: 42px;
  transform: rotate(-4deg);
}

.mouth-part-one {
  position: absolute;
  width: 66px;
  height: 21px;
  border-radius: 0% 0% 45% 49%/14% 0% 16% 100%;
  border-bottom: 1px solid var(--black);
  background-color: var(--skin);
  top: 37px;
  z-index: -1;
  left: 11px;
  transform: rotate(-4deg);
}

.mouth-part-one::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 8px;
  border-right: 1px solid var(--black);
  border-radius: 0% 5% 3% 0%/0% 48% 6% 0%;
  left: 55px;
  top: 14px;
  left: 48px;
  transform: rotate(-22deg);
}

.mouth-part-one::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 19px;
  border-left: 1px solid var(--black);
  border-radius: 35% 0 0 10%/100% 0 0 30%;
  top: 3px;
  left: -16px;
  transform: rotate(62deg);
}

.mouth-part-two {
  position: absolute;
  height: 66px;
  width: 56px;
  border-radius: 41% 0 0 100%/91% 0 0 100%;
  border-left: 1px solid var(--black);
  top: 35px;
  left: -3.5px;
  transform: rotate(-28deg);
  background-color: var(--black);
  z-index: -2;
}

.mouth-part-two::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 12px;
  border-radius: 56% 49% 0 0/51% 45% 38% 9%;
  border-top: 1px solid var(--black);
  top: 68px;
  left: 44px;
  transform: rotate(27deg);
  background-color: var(--skin);
}

.chin {
  position: absolute;
  width: 40px;
  height: 31px;
  border-radius: 13% 10% 65% 65%/28% 28% 100% 100%;
  border: 1px solid var(--black);
  border-top: transparent;
  background-color: var(--skin);
}

.chin-left {
  top: 142px;
  left: 17px;
  transform: rotate(8deg);
}

.chin-right {
  top: 139px;
  left: 58px;
  transform: rotate(-10deg);
}

.chin-line {
  position: absolute;
  width: 26px;
  height: 41px;
  border-left: 1px solid var(--black);
  border-radius: 28% 20% 50% 50%/39% 1% 100% 100%;
  top: 88px;
  left: 80px;
  transform: rotate(22deg);
  background-color: var(--skin);
}

.chin-line::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 19px;
  border-radius: 0% 28% 10% 10%/0% 51% 50% 50%;
  border-right: 1px solid var(--black);
  top: 39px;
  transform: rotate(-63deg);
  left: 5px;
  background-color: var(--skin);
}
