body {
    margin: 0 auto;
    background-color: rgb(229, 250, 182);
    width: 40vw;
}

:root {
    --head-color: #EE972A;
    --nose-color: #EFA7A8;
    --snout-color: #FEFF7D;
    --white-color: #fff;
    --black-color: #000;
}

.garfield-bored {
    top: 10%;
    position: absolute;
}

.head-one {
    width: 440px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--head-color);
}

.head-two {
    width: 420px;
    border-left: 45px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 150px solid var(--head-color);
    position: absolute;
    top: 105px;
    left: -35px;
    z-index: 1;
}

.head-three {
    width: 550px;
    height: 355px;
    border-radius: 50%;
    background-color: var(--head-color);
    position: absolute;
    top: 145px;
    left: -57px;
}

.ears {
    position: absolute;
    display: flex;
    top: -80px;
    left: 80px;
}

.ear {
    width: 130px;
    height: 180px;
    border-radius: 50%;
    background-color: var(--head-color);
}

.ear-left {
    transform: rotate(-50deg);
}

.ear-right {
    transform: rotate(50deg);
}

.eyes {
    position: absolute;
    display: flex;
    top: 40px;
    z-index: 2;
    left: 65px;
}

.eye {
    width: 150px;
    height: 230px;
    background-color: var(--headq-color);
    border: 3px solid #000;
}

.eye-left {
    border-radius: 65% 35% 0% 55%/50% 15% 50% 50%;
}

.eye-right {
    border-radius: 35% 65% 55% 0%/15% 50% 50% 50%;
    margin-left: -2px;
}

.eye-left::before {
    content: '';
    display: block;
    position: relative;
    width: 145px;
    height: 180px;
    border: 3px solid #000;
    border-color: #000 transparent transparent transparent;
    top: -8px;
    left: 11px;
    border-radius: 100px 100px 0% 20%/1%;
    transform: rotate(-178deg);
}

.eye-right::before {
    content: '';
    display: block;
    position: relative;
    width: 137px;
    height: 180px;
    border: 3px solid #000;;
    border-color:#000 transparent transparent transparent;
    top: -5px;
    left: 0px;
    border-radius: 100px 20%/1% 0% 100px;
    transform: rotate(-178deg);
}

.eye-left::after {
    content: '';
    position: absolute;
    width: 139px;
    height: 54px;
    background: var(--white-color);
    border-radius: 0px 100px 0px 290px/5% 0% 100px 187px;
    left: 16.8px;
    top: 179px;
    z-index: -1;
    transform: rotate(1deg);
} 

.eye-right::after {
    content: '';
    position: absolute;
    width: 139px;
    height: 52px;
    background: var(--white-color);
    border-radius: 100px 37px 290px 0px/0% 4% 187px 100px;
    left: 150.5px;
    top: 183px;
    z-index: -1;
    transform: rotate(0deg);
}

.inner-eye-left {
    position: absolute;
    width: 45px;
    height: 18px;
    background: var(--black-color);
    border-radius: 0% 0% 45% 50%/0 0 90% 100%;
    left: 109px;
    top: 180px;
    z-index: 1;
}

.inner-eye-right {
    content: '';
    position: absolute;
    width: 44px;
    height: 18px;
    background: var(--black-color);
    border-radius: 0% 0% 50% 45%/0 0 100% 90%;
    left: 156px;
    top: 180px;
    z-index: 1;
}

.nose {
    position: absolute;
    width: 70px;
    height: 40px;
    background-color: var(--nose-color);
    border: 3px solid #000;
    top: 250px;
    left: 182px;
    border-radius: 50%;
    z-index: 3;
}

.snout-left-one {
    position: absolute;
    width: 70px;
    height: 150px;
    border-radius: 55% 0% 35% 65%/50% 50% 25% 50%;
    background-color: var(--snout-color);
    top: 218px;
    left: 100px;
    z-index: 1;
    transform: rotate(55deg);
    border: 3px solid var(--black-color);
}

.snout-right-one {
    position: absolute;
    width: 70px;
    height: 150px;
    border-radius: 0% 55% 65% 35%/50% 50% 50% 25%;
    background-color: var(--snout-color);
    top: 218px; 
    left: 260px;
    z-index: 1;
    transform: rotate(-55deg);
    border: 3px solid var(--black-color);
}

.snout-left-two {
    position: absolute;
    top: 259px;
    left: 171px;
    width: 25px;
    height: 110px;
    z-index: 2;
    background-color: var(--snout-color);
    border-bottom: 3px solid var(--black-color);
    border-radius: 100%/50%;
    transform: rotate(47deg);
}

.snout-right-two {
    position: absolute;
    top: 259px;
    left: 243px;
    width: 25px;
    height: 110px;
    z-index: 2;
    background-color: var(--snout-color);
    border-bottom: 3px solid var(--black-color);
    border-radius: 100%/50%;
    transform: rotate(-47deg);
}

