:root {
  --body: #fce501;
  --cheek: #f26b4d;
  --black: #000000;
  --white: #ffffff;
}

body {
  background-color: var(--body);
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.pikachu {
  position: relative;
  top: 30vh;
}

.eye {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: var(--black);
}

.eye::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--white);
  top: 19px;
  left: 8px;
}

.eye-left {
  left: -150px;
}

.eye-right {
  left: 150px;
}

.cheek {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--cheek);
  top: 89px;
}

.cheek-left {
  left: -220px;
}

.cheek-right {
  left: 240px;
}
