:root {
  --bg: #866327;
  --ball: #cb972a;
  --ball-lines: #e7bd5a;
  --feather-one: #cfd5d3;
  --feather-two: #afbdbd;
  --shadow: #684a1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.snitch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ball {
  position: absolute;
  width: 9rem;
  height: 9rem;
  background-color: var(--ball);
  border-radius: 50%;
  box-shadow: inset 0rem -6.8rem 0 -1.5rem var(--ball),
    inset 0rem -6.8rem 0 -0.7rem var(--ball-lines);
}

.line-one-right,
.line-one-left {
  position: absolute;
  width: 5rem;
  height: 7.6rem;
  border: 0.8rem solid;
}

.line-one-left {
  border-color: transparent var(--ball-lines) transparent transparent;
  border-radius: 0 87% 69% 0/0 55% 50% 0;
  left: -0.46rem;
  top: -0.65rem;
  transform: rotate(63deg);
}

.line-one-right {
  border-color: transparent transparent transparent var(--ball-lines);
  border-radius: 87% 0 0 69%/55% 0 0 50%;
  left: 4.46rem;
  top: -0.65rem;
  transform: rotate(-63deg);
}

.line-one-left::before,
.line-one-right::before {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 0.77rem;
  background-color: var(--ball-lines);
}

.line-one-left::before {
  top: 5.14rem;
  left: 2.62rem;
  transform: rotate(-45deg) skew(30deg);
}

.line-one-right::before {
  top: 5.14rem;
  left: 0.27rem;
  transform: rotate(45deg) skew(-30deg);
}

.line-two-left,
.line-two-right {
  position: absolute;
  width: 21.5rem;
  height: 8.3rem;
  border: 0.8rem solid;
}

.line-two-left {
  border-color: transparent var(--ball-lines) transparent transparent;
  left: -16.05rem;
  top: 8.37rem;
  border-radius: 0 55% 35%/0 95% 65% 0;
  transform: rotate(-38deg);
}

.line-two-right {
  border-color: transparent transparent transparent var(--ball-lines);
  left: 3.55rem;
  top: 8.37rem;
  border-radius: 55% 0 0 35%/95% 0 0 65%;
  transform: rotate(38deg);
}
