body {
    background-color: rgb(127, 255, 127);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 50vw;
}

:root {
    --body-color: #B3DDDC;
    --ear-color: #FFA699;
    --nose-eye-color: #364F60;
    --stroke-color: #375061;
    --mouth-color: #EC555B;
    --inner-mouth-color: #F79599;
    --inner-nose-color: #6C8596;
    --inner-ear-color: #FFA699;
    --body-light-color: #E1FFFC;
    --body-dark-color: #77A7A7;
    --white-color: #fff;
    --black-color: #000;
}

.my-koala {
    position: relative;
    top: 20vh;
}

.head {
    width: 300px;
    height: 250px;
    background-color: var(--body-color);
    border-radius: 80% 80% 55% 55%/100% 100% 50% 50%;
    border: 5px solid var(--stroke-color);
}

.nose {
    width: 85px;
    height: 95px;
    position: absolute;
    background-color: var(--nose-eye-color);
    border-radius: 62%/75%;
    top: 92px;
    left: 113px;
}

.nose-inner {
    width: 25px;
    height: 35px;
    background-color: var(--inner-nose-color);
    position: absolute;
    border-radius: 50%;
    transform: rotate(-30deg);
    top: 103px;
    left: 157px;
}

.eye-left {
    width: 35px;
    height: 35px;
    background-color: var(--nose-eye-color);
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 63px;
}

.eye-right {
    /* width: 35px;
    height: 40px;
    border: 6px solid;
    position: absolute;
    top: 110px;
    left: 210px;
    border-color: var(--nose-eye-color) transparent transparent transparent; */
    /* border-radius: 50%/100px 100px 0 0; */
    stroke-linecap: round;
    stroke-width: 20px;
    transform: rotate(180deg);
    position: absolute;
}

path {
    stroke: orange;
    stroke-width: 20;
}