body {
    background-color: rgb(127, 255, 127);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 50vw;
}

:root {
    --body-color: #B3DDDC;
    --ear-color: #FFA699;
    --nose-eye-color: #364F60;
    --stroke-color: #375061;
    --tongue-color: #EC555B;
    --tongue-inner-color: #F79599;
    --inner-nose-color: #6C8596;
    --inner-ear-color: #FFA699;
    --body-light-color: #E1FFFC;
    --body-dark-color: #77A7A7;
    --white-color: #fff;
    --black-color: #000;
}

.my-koala {
    position: relative;
    top: 20vh;
}

.head {
    width: 300px;
    height: 250px;
    background-color: var(--body-color);
    border-radius: 80% 80% 55% 55%/100% 100% 50% 50%;
    border: 6px solid var(--stroke-color);
}

.nose {
    width: 85px;
    height: 95px;
    position: absolute;
    background-color: var(--nose-eye-color);
    border-radius: 62%/75%;
    top: 92px;
    left: 113px;
}

.nose-inner {
    width: 25px;
    height: 35px;
    background-color: var(--inner-nose-color);
    position: absolute;
    border-radius: 50%;
    transform: rotate(-30deg);
    top: 103px;
    left: 157px;
}

.eye-left {
    width: 38px;
    height: 38px;
    background-color: var(--nose-eye-color);
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 57px;
}


.inner-eye {
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: var(--white-color);
    border-radius: 50%;
    left: 18px;
    top: 8px;
}

.eye-right {
    position: absolute;
    width: 48px;
    height: 45px;
    border: solid 10px;
    border-color: var(--nose-eye-color) transparent transparent transparent;
    border-radius: 50%/50px 50px 0 0;
    top: 110px;
    left: 205px;
}

.eye-right-part {
    position: relative;
    width: 9.6px;
    height: 20px;
    background-color: var(--nose-eye-color);
    border-radius: 50%/40%;
}

.one {
    top: -6px;
    left: 2px;
    transform: rotate(39deg);
}

.two {
    top: -25.6px;
    left: 37px;
    transform: rotate(-39deg);
}
.whisker {
    position: absolute;
    width: 42px;
    height: 35px;
    border: solid 8px var(--nose-eye-color);
    border-color: transparent transparent var(--nose-eye-color) transparent;
    border-radius: 50%/25px 25px;
}

.whisker-left {
    top: 156px;
    left: 106px;
}

.whisker-right {
    top: 156px;
    left: 143px;
}

.whisker-part {
    position: absolute;
    width: 7.8px;
    height: 20px;
    background-color: var(--nose-eye-color);
    border-radius: 66%/30%;
}

.whisker-left-one {
    top: 185px;
    left: 111px;
    transform: rotate(-52deg);
}

.whisker-right-one {
    top: 185px;
    left: 188px;
    transform: rotate(54deg);
}

.whisker-top {
    top: 177px;
    left: 150px;
}

.mouth {
    position: absolute;
    width: 50px;
    height: 35px;
    top: 200px;
    left: 128px;
    background-color: var(--nose-eye-color);
    border-radius: 0 0 50% 50%/0 0 80% 80%;
}

.tongue-part-one {
    position: absolute;
    width: 30px;
    height: 15px;
    top: 13px;
    left: 10px;
    background-color: var(--tongue-color);
    border-radius: 0 0 50% 50%/0 0 80% 80%;
}

.tongue-part-two {
    position: absolute;
    width: 30px;
    height: 7px;
    top: 8px;
    left: 10px;
    background-color: var(--tongue-color);
    border-radius: 50% 50% 0 0/80% 80% 0 0;
}

.tongue-inner-part-one {
    position: absolute;
    width: 22.5px;
    height: 5px;
    top: 9.5px;
    left: 4px;
    background-color: var(--tongue-inner-color);
    border-radius: 0 0 50% 50%/0 0 100% 100%;
}

.tongue-inner-part-two {
    position: absolute;
    width: 22.5px;
    height: 6px;
    top: 4.8px;
    left: 4px;
    background-color: var(--tongue-inner-color);
    border-radius: 50% 50% 0 0 /100% 100% 0 0;
}
