:root {
  --hair: #1d0207;
  --hair-separator: #212332;
  --skin: #c65849;
  --eyelid: #9f3f33;
  --eyebrow: #7d1c15;
  --stroke: #a03527;
  --black: #000000;
  --necklace: #506992;
  --necklace-two: #5690ab;
  --clothing-one: #fcab76;
  --clothing-two: #fab28c;
  --necklace-pendant-one: #eadad1;
  --necklace-pendant-two: #c4b2ac;
}
