:root {
  --bg: #f1eee3;
  --hair-top: #6c524b;
  --hair-right: #000001;
  --hair-left: #020300;
  --skin-one: #fedbc3;
  --skin-two: #ed8f6f;
  --eyeball-one: #183943;
  --eyeball-two: #356c72;
  --eye-one: #eef1f5;
  --eye-two: #d2cfdc;
  --cheek: #f6ada7;
  --glasses-one: #1d1917;
  --glasses-two: #514f52;
  --tie: #c13422;
  --collar-one: #f3903a;
  --collart-two: #bc5d26;
  --badge: #d1701c;
  --wand-one: #6e4e2e;
  --wand-two: #bdab91;
  ---wand-glow: #85cade;
  --gown: #343436;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.harry {
  position: relative;
}

.eye-left,
.eye-right {
  position: absolute;
  width: 3.6rem;
  height: 3.8rem;
  border-radius: 50%;
  background-color: var(--eye-one);
  box-shadow: inset 0.1rem -0.15rem 0.55rem 0.01rem var(--eye-two);
}

.eye-left {
  left: -4rem;
}

.eye-right {
  left: 6.3rem;
}

.eye-left::after,
.eye-right::after {
  content: "";
  position: absolute;
  width: 3.6rem;
  height: 3.8rem;
  border-radius: 50%;
}

.eye-left::after {
  box-shadow: inset 0.1rem 0.5rem 0.05rem 0.01rem var(--black);
}

.eye-right::after {
  box-shadow: inset 0.03rem 0.5rem 0.05rem 0.01rem var(--black);
}

.eye-left::before,
.eye-right::before {
  position: absolute;
  content: "";
  width: 2.01rem;
  height: 2.5rem;
  background-image: linear-gradient(
    30deg,
    var(--eyeball-two) 15%,
    var(--eyeball-one) 50%,
    var(--black)
  );
  border-radius: 50%;
  transform: rotate(-17deg);
  left: 1.55rem;
  top: 0.35rem;
  filter: blur(0.01rem);
}

.glasses-left,
.glasses-right {
  position: absolute;
  width: 10.5rem;
  height: 10.5rem;
  border-radius: 50%;
  border: 0.4rem solid var(--glasses-two);
  top: -4rem;
  box-shadow: 0rem 0rem 0.07rem 0.25rem var(--black);
}

.glasses-left {
  left: -8.1rem;
}

.glasses-right {
  left: 3.5rem;
}
