:root {
  --bg: #f1eee3;
  --hair-top: #6c524b;
  --hair-right: #000001;
  --hair-left: #020300;
  --skin-one: #fedbc3;
  --skin-two: #ed8f6f;
  --eye-ball: #183943;
  --eye-one: #eef1f5;
  --eye-two: #d2cfdc;
  --cheek: #f6ada7;
  --glasses-one: #1d1917;
  --glasses-two: #514f52;
  --tie: #c13422;
  --collar-one: #f3903a;
  --collart-two: #bc5d26;
  --badge: #d1701c;
  --wand-one: #6e4e2e;
  --wand-two: #bdab91;
  ---wand-glow: #85cade;
  --gown: #343436;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.harry {
  position: relative;
}

.eye-left,
.eye-right {
  position: absolute;
  width: 2.93em;
  height: 3.25rem;
  border-radius: 50%;
  background-color: var(--eye-one);
  box-shadow: inset 0.1rem -0.15rem 0.3rem 0.01rem var(--eye-two);
}
