body {
  background-color: rgb(236, 255, 172);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

:root {
  --body: #49aad4;
  --nose: #e71b23;
  --collar: #e61b23;
  --bell: #eec651;
  --white: #ffffff;
  --black: #000000;
}

.doraemon {
  position: relative;
  top: 5vh;
  width: 40vw;
}

.head {
  position: absolute;
  width: 430px;
  height: 420px;
  border-radius: 215px;
  background-color: var(--body);
  border: 3px solid var(--black);
}

.head::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 335px;
  height: 350px;
  border-radius: 50%;
  background-color: var(--white);
  border: 3px solid var(--black);
  top: 68px;
  left: 43px;
}

.eye {
  position: absolute;
  width: 100px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--white);
  border: 3px solid var(--black);
  top: 14px;
  z-index: 2;
}

.eye-left {
  left: 113px;
}

.eye-right {
  left: 216px;
}

.eye:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 25px;
  border: 3px solid;
  border-color: var(--black) var(--black) transparent var(--black);
  border-radius: 50%/100% 100% 0 0;
  top: 38px;
  left: 28px;
}

.nose {
  position: absolute;
  width: 55px;
  height: 45px;
  background-color: var(--nose);
  border-radius: 50%;
  border: 3px solid var(--black);
  top: 120px;
  left: 187px;
  z-index: 2;
}

.nose:after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: var(--white);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 5px;
  left: 2px;
}
